.btn-dark-md {
    background-color: $colorGeneral;
    color: black;
    margin: 4vw 0 4vw 0;
}

.contactoMain {
    margin-top: 125vw;
    background-image: url(../img/fondomain-large.webp);
    background-position: center;
    background-repeat: no-repeat;
    width: auto;
    background-size: cover;
    width: auto;
}

.lineaContactos {
    height: 5vw;
    width: 80%;
    margin-left: 10vw;
    margin-top: 1vw;
    margin-bottom: 6vw;
}

.form-control {
    border-radius: 3vw;
}

@media (min-width: 576px) {

    .contactoMain {
        margin-top: 84vw;
    }

    .tituloContacto {
        margin-left: -1vw;
    }

    .lineaContactos {
        width: 60%;
        margin-left: 20vw;
    }


}


@media (min-width: 768px) {

    .contactoMain {
        margin-top: 61vw;
    }

    .tituloContacto {
        margin-bottom: 4vw;
    }

    .lineaContactos {
        height: 5vw;
        width: 70%;
        margin-left: 15vw;
        margin-bottom: 6vw;
    }




}

@media (min-width: 992px) { 
    
    .contactoMain {
        margin-top: 54vw;
    }

    .lineaContactos {
        height: 5vw;
        width: 70%;
        margin: -1vw 0 4vw 15vw;
    }
}