.btn-dark-md {
    background-color: $colorGeneral;
    color: black;
    margin: 4vw 0 4vw 0;
}

.contactoMain {
    @include fondo-main;
    margin-top: 125vw;
    width: auto;
}

.lineaContactos {
    height: 5vw;
    width: 80%;
    margin: 0vw 0 6vw 10vw;
}

.form-control {
    border-radius: 3vw;
}

@media (min-width: 576px) {

    .contactoMain {
        margin-top: 84vw;
    }

    .tituloContacto {
        margin-left: -1vw;
    }

    .lineaContactos {
        width: 60%;
        margin-left: 20vw;
    }


}


@media (min-width: 768px) {

    .contactoMain {
        margin-top: 61vw;
    }

    .tituloContacto {
        margin: 0 0 4vw 0vw;
    }

    .lineaContactos {
        height: 5vw;
        width: 70%;
        margin: 0 0 6vw 15vw;
    }




}

@media (min-width: 992px) { 

    .tituloContacto {
        margin: 0 0 4vw 0vw;
    }
    
    .contactoMain {
        margin-top: 54vw;
    }

    .lineaContactos {
        height: 5vw;
        width: 70%;
        margin: -1vw 0 4vw 15vw;
    }
}

@media (min-width: 1200px) {

    .tituloContacto {
        margin: 0 0 4vw 0vw;
    }
    
    .contactoMain {
        margin: 45vw 0 3vw 0;
        height: 38vw;
    }

    .lineaContactos {
        width: 90%;
        margin: -3vw 0 3vw 5vw;
    }

}