* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    text-align: center;
    font-weight: bolder;
    letter-spacing: 0, 03em;
    font-family: 'Open Sans', sans-serif;
}


img {
    width: 100%;
    height: 100%;
}

.orange {
    background-image: url(../img/fondonavbar-large.webp);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    border-bottom: 0.01vw solid wheat;
}

.navbar-light .navbar-brand {
    color: wheat;
}

.navbar-light .navbar-toggler-icon {
    background-image: url(../img/menuhamburguesa-nav.png);
}


.navbar-light .navbar-nav .nav-link {
    color: wheat;
}


.navbar>.container,
.navbar>.container-fluid,
.navbar>.container-lg,
.navbar>.container-md,
.navbar>.container-sm,
.navbar>.container-xl,
.navbar>.container-xxl {
    margin-top: -0.2vw;
    margin-left: auto;
    margin-right: auto;
    padding-left: 1rem;
    padding-right: 1.5rem;
}

.navbar-brand {
    margin: 0.5vw 0 0 2vw;

    img {
        margin: -1vw 0 0 1vw;
        height: 8.2vw;
        width: 8.2vw;
    }
}

ul {
    list-style-type: none;
}


a {
    text-decoration: none;
    color: black;
}

header {

    h1 {
        margin-top: 17vw;
        font-size: 9vw;
    }

    @include elementos-grid;
    margin: 10vw 0 12vw 0;
    background-image: url(../img/fotoportadainicio-large.webp);
    background-position: center;
    background-repeat: no-repeat;
    height: 151vw;
    width: 100vw;
    background-size: cover;
    color: wheat;
    font-size: large;
    display: grid;
    justify-content: center;
    font-family: 'Courgette', cursive;
}

.source {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    padding: 2vw;
    max-height: 7vw;
    background-color: white;
    border-radius: 10vw;
    border-style: solid black;
    margin: -133vw 0 -4vw 28vw;
    width: 43.5vw;

    a {
        text-decoration: none;
        color: black;
    }
}

.sourceReceta {
    display: flex;
    align-items: center;
    border: none;
    background: none;
    color: black;
    width: 27vw;
    font-size: 3.5vw;
}

.botonSource {
    width: 3vw;
    height: 5.8vw;
    text-decoration: none;
    color: white;
    font-size: 4vw;
}


footer {
    padding: 3em 3em 0em 3em;
    background-color: wheat;
    margin-bottom: 0;
    margin-top: 1.5em;

    a:hover {
        color: #FF7F50;
    }
}


.imagenSuscripcion {
    @include elementos-grid;
    background-image: url(../img/fondosuscripcion-large.webp);
    background-position: center;
    background-repeat: no-repeat;
    height: 53vw;
    width: auto;
    background-size: cover;
    color: wheat;
    margin-bottom: -7vw;
}

.textoSuscripcionUno h3 {
    display: flex;
    flex-direction: row;
    justify-content: center;
    font-size: 5vw;
    margin-top: 14vw;
}

.textoSuscripcionDos h4 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    font-size: 3.6vw;
    margin-top: -21vw;
    height: 3vw;
    width: auto;
}


.formulario {
    margin: -12vw 0 14vw 0;
    height: 5vw;
    width: 100vw;
    input {
        border-radius: 2vw;
    
    }
}



.btn-sm {
    background-color: wheat;
    color: black;
    border-radius: 2vw;
}


.footer {
    @include elementos-grid;
    margin-bottom: 0;
    width: auto;
    height: 150vw;
}

.lineaFooter {
    margin-top: 11vw;
}


.footerMenu {
    @include elementos-flex-row;
    align-items: center;
    gap: 3vw;
    margin: 8vw 4vw 5vw 4vw;
    font-size: 2.5vw;
}

.redes {
    @include elementos-flex-row;
    justify-content: center;
    height: auto;
    width: auto;
    margin-bottom: 7vw;
}

.textoRedesUno {
    @include elementos-flex-row;
    justify-content: center;
    margin-bottom: 5vw;
}

.textoRedesDos {
    @include elementos-flex-row;
    justify-content: center;
    margin-bottom: -4vw;

    h3 {
        font-size: 4vw;
    }
}

.textoRedesTres h4 {
    font-size: 2vw;
    margin-top: 10vw;
}

.textoContactos h5 {
    font-size: 2vw;
}

@media (min-width: 576px) {

    .navbar>.container,
    .navbar>.container-fluid,
    .navbar>.container-lg,
    .navbar>.container-md,
    .navbar>.container-sm,
    .navbar>.container-xl,
    .navbar>.container-xxl {
        padding-right: 1.5rem;
    }

    .navbar-brand {
        img {
            margin: -0.9vw 0 0 1vw;
            height: 6vw;
            width: 6vw;
        }
    }

    .container,
    .container-sm {
        max-width: 770px;
    }
    
    header {

        h1 {
            margin-top: 11vw;
            font-size: 7vw;
        }

        margin-bottom: 12vw;
        margin-top: 6vw;
        height: 100vw;
    }

    .source {
        max-height: 5vw;
        margin: -91vw 0 -4vw 34vw;
        width: 31vw;
    }

    .botonSource {
        height: 4.2vw;
        font-size: 3vw;
        margin-left: -0.7vw;
    }

    .sourceReceta {
        font-size: 2.3vw;
        line-height: 5vw;
        width: 19vw;
    }

    .textoSuscripcionUno h3 {
        text-align: center;
    }

    .textoSuscripcionDos h4 {
        text-align: center;
        margin-top: -22vw;
    }

    .formulario {
        margin-top: -12.5vw;
    
    }


    .footerMenu {
        justify-content: space-evenly;
    }

    .redes {
        align-items: center;
        height: 15vw;
        width: 35vw;
        margin-left: 26vw;
        margin-bottom: -1vw;
        align-items: flex-start;
    }

    .redes a {
        width: 10vw;
        height: 10vw;
    }
}


@media (min-width: 768px) {


    .navbar-nav .nav-item {
        position: relative;
    }

    .navbar-nav .nav-item a::before {
        content: "";
        height: 2px;
        width: 0%;
        background: wheat;
        position: absolute;
        left: 0;
        bottom: 3px;
        transition: 0.4s ease-out;
    }

    .navbar-nav .nav-item:hover a::before {
        width: 100%;
    }

    .navbar-light .navbar-nav .nav-link:hover {
        color: wheat;
    }


    .navbar-expand-md .navbar-collapse {
        display: flex;
        flex-direction: column-reverse;
        flex-wrap: wrap;
        align-content: flex-end;
    }

    .navbar-brand {
        margin-left: 0.6vw;

        img {
            margin: -0.7vw 0 0 1vw;
            height: 4vw;
            width: 4vw;
        }
    }

    .container,
    .container-sm {
        max-width: 2618px;
    }

    .orange {
        height: 7vw;
        width: 100vw;
    }

    .navbar-brand {
        height: 5vw;
    }

    .nav-item {
        font-size: 1.8vw;
        margin-bottom: -0.3vw;
    }

    header {

        h1 {
            margin-top: 6.9vw;
            font-size: 6vw;
        }
        height: 73vw;
        width: 100vw;
    }

    .source {
        transform: translate(-50%, -50%);
        padding: 2vw;
        height: 1vw;
        margin: -68vw 0 -4vw 50vw;
        width: 26vw;
    }

    .sourceReceta {
        outline: none;
        font-size: 2vw;
        transition: .3s;
    }

    .botonSource {
        max-width: 3vw;
        height: 3.5vw;
        text-decoration: none;
        color: white;
        font-size: 2.5vw;
        margin-left: -1vw;
    }


    .imagenSuscripcion {
        height: 40vw;
    }

    .textoSuscripcionUno h3 {
        font-size: 3vw;
        margin: 13vw 32vw -2vw 0;
    }

    .textoSuscripcionDos h4 {
        font-size: 2vw;
        margin-bottom: 18.5vw;
        margin-right: 47vw;
        margin-top: 1.5vw;
        height: 6vw;
    }

    .formulario {
        margin: -18.5vw 0 0 -24vw;

    }

    input {
        text-align: center;
        height: 3vw;
        width: 25vw;
    }

    .botonSuscripcion {
        height: 3vw;
        width: 10vw;
        margin-right: 37vw;
        margin-top: 2vw;
        border-radius: 1vw solid black;
    }

    .footer {
        @include elementos-grid;
        margin-bottom: 0;
        width: auto;
    }

    .tamañoFooter {
        height: 19.5vw;
    }

    .lineaFooter {
        margin-top: 9vw;
    }

    .footerMenu {
        margin-top: 5vw;
        font-size: 1.7vw;
    }

    .redes {
        @include elementos-flex-row;
        align-items: center;
        width: 35vw;
        margin-left: 50vw;
        margin-top: 3vw;
    }

    .redes a {
        width: 4vw;
        height: 6vw;
        margin-left: 7vw;
    }


    .textoRedesUno {
        @include elementos-flex-row;
        justify-content: flex-start;
        margin-bottom: -12.5vw;
        margin-top: 1vw;
    }

    .textoRedesUno h3 {
        font-size: 3vw;
    }

    .textoRedesDos {
        @include elementos-flex-row;
        justify-content: flex-start;
    }

    .textoRedesDos h3 {
        font-size: 2vw;
    }


    .textoRedesTres h4 {
        font-size: 1.5vw;
        margin-top: 10vw;
    }

    .textoContactos h5 {
        font-size: 1.5vw;
    }
}

@media (min-width: 992px) {

    .navbar-brand {
        margin-left: 0.6vw;

        img {
            margin: 0.5vw 0 0 1vw;
            height: 3vw;
            width: 3vw;
        }
    }

    .orange {
        height: 5vw;
    }

    .nav-item {
        font-size: 1.5vw;
        margin-top: 0.5vw;
    }

    .btn-sm {
        height: 3vw;

    }

    header {

        h1 {
            margin-top: 6vw;
            font-size: 5vw;
        }

        @include elementos-grid;
        margin-bottom: 12vw;
        margin-top: 5vw;
        height: 64vw;
        width: 100vw;
    }
    
    .source {
        transform: translate(-50%, -50%);
        padding: 1.9vw;
        height: 1vw;
        margin: -61vw 0 -4vw 50vw;
        width: 23vw;
    }


    .sourceReceta {
        font-size: 1.8vw;
        line-height: 2vw;
        width: 14vw;
    }



    .botonSource {
        height: 3.3vw;
        font-size: 2.3vw;
    }

    .textoSuscripcionUno h3 {
        font-size: 2.6vw;
        margin: 13vw 38vw -2vw 0;
    }

    .textoSuscripcionDos h4 {
        font-size: 1.5vw;
        margin-right: 56vw;
    }

    .formulario {
        margin: -18.5vw 0 0 -28vw;

    }

    input {
        width: 18vw;
    }

    .textoRedesUno h3 {
        font-size: 2.6vw;
    }

    .textoRedesDos h3 {
        font-size: 1.8vw;
    }
    
    .textoRedesTres h4 {
        font-size: 1.2vw;
    }

    .textoContactos h5 {
        font-size: 1.2vw;
    }

}

@media (min-width: 1200px) {

    .navbar>.container,
    .navbar>.container-fluid,
    .navbar>.container-lg,
    .navbar>.container-md,
    .navbar>.container-sm,
    .navbar>.container-xl,
    .navbar>.container-xxl {
        padding-right: 2rem;
    }

    .navbar-brand {

        img {
            margin: 0.7vw 0 0 1vw;
        }
    }

    .nav-item {
        font-size: 1.2vw;
        margin: 0.5vw 2vw 0 0;
    }


    header {

        h1 {
            margin-top: 3vw;
            font-size: 4vw;
        }
        margin-bottom: 12vw;
        margin-top: 5vw;
        height: 50vw;
        width: 100vw;
    }

    .source {
        padding: 1.2vw;
        height: 1vw;
        margin: -52.5vw 0 -4vw 50vw;
        width: 18vw;
    }


    .sourceReceta {
        color: black;
        font-size: 1.4vw;
        line-height: 2vw;
        width: 11vw;
    }


    .botonSource {
        max-width: 3vw;
        height: 2.2vw;
        font-size: 1.6vw;
    }


    .imagenSuscripcion {
        height: 29vw;
        width: auto;
        color: wheat;
        margin-bottom: -7vw;
    }

    .textoSuscripcionUno h3 {
        margin-right: 42vw;
        font-size: 2.2vw;
        margin-top: 9vw;
    }

    .textoSuscripcionDos h4 {
        font-size: 1.5vw;
        margin-bottom: 16vw;
        margin-right: 52.5vw;
        margin-top: 1vw;
    }


    .formulario {
        margin-left: -53vw;
        margin-top: -16.5vw;
        width: 153vw;
    }
    

    input {
        text-align: center;
        height: 2vw;
        width: 18vw;
    }

    .btn-sm {
        height: 2.6vw;
    }


    footer {
        padding: 3em 3em 0em 3em;
        background-color: wheat;
        margin-bottom: 0;
        margin-top: 7vw;
        height: 25.5vw;

        a:hover {
            color: #ffff;
        }
    }

    .tamañoFooter {
        height: 18.5vw;
    }

    .textoRedesUno h3 {
        font-size: 2.2vw;
        margin: -0.5vw 0 0 2vw;
    }

    .textoRedesDos h3 {
        font-size: 1.6vw;
        margin: -2.5vw 0 0 2vw;
    }

    .lineaFooter {
        margin-top: 7vw;
    }

    .footerMenu {
        margin-top: 3vw;
        font-size: 1.2vw;
    }

    .textoRedesTres h4 {
        font-size: 1.2vw;
        margin-top: -1.2vw;
    }

    .textoContactos h5 {
        font-size: 1.2vw;
    }

    .redes {
        margin-top: 4vw;
    }



}