* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    text-align: center;
    font-weight: bolder;
    letter-spacing: 0,03em;
    font-family: 'Open Sans', sans-serif;
}


header {
    font-size: large;
    display: grid;
    justify-content: center;
    font-family: 'Courgette', cursive;
    h1 {
        font-size: 6vw;
    }
}


img {
    width: 100%;
    height: 100%;
}

.orange {
    background-image: url(../img/fondonavbar-large.webp);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    border-bottom: 0.01vw solid wheat;
}

.navbar-light .navbar-brand {
    color: wheat;
}

.navbar-light .navbar-toggler-icon {
    background-image: url(../img/menuhamburguesa-nav.png);
}


.navbar-light .navbar-nav .nav-link {
    color: wheat;
}


.navbar>.container, .navbar>.container-fluid, .navbar>.container-lg, .navbar>.container-md, .navbar>.container-sm, .navbar>.container-xl, .navbar>.container-xxl {
    margin-top: -0.2vw;
    margin-left: auto;
    margin-right: auto;
    padding-left:1rem ;
    padding-right:1.5rem ;
}


ul {
    list-style-type: none;
}


a {
    text-decoration: none;
    color: black;
}


footer {
    padding: 3em 3em 0em 3em;
    background-color: wheat;
    margin-bottom: 0;
    margin-top: 1.5em;
    a:hover {
        color: #FF7F50;
    }
}


.imagenSuscripcion {
    @include elementos-grid;
    background-image: url(../img/fondosuscripcion-large.webp);
    background-position: center;
    background-repeat: no-repeat;
    height: 53vw;
    width: auto;
    background-size: cover;
    color:wheat;
    margin-bottom: -7vw;
}

.textoSuscripcionUno h3 {
    display: flex;
    flex-direction: row;
    justify-content: center;
    font-size: 5vw;
    margin-top: 14vw;
}

.textoSuscripcionDos h4 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    font-size: 3vw;
    margin-top: -21vw;
}


.formulario {
    margin-top: -14vw;
    margin-bottom: 14vw;
}


.btn-sm {
    background-color: wheat;
    color: black;
}


.footer {
    @include elementos-grid;
    margin-bottom: 0;
    width: auto;
    height: 150vw;
    position: fixed;
}

.lineaFooter {
    margin-top: 11vw;
}


.footerMenu {
    @include elementos-flex-row;
    align-items: center;
    gap: 3vw;
    margin: 8vw 0 5vw 0;
    font-size: 2.5vw;
    margin-left: 2.5vw;
}

.redes {
    @include elementos-flex-row;
    justify-content: center;
    height: auto;
    width: auto;
    margin-bottom: 7vw;
}

.textoRedesUno {
    @include elementos-flex-row;
    justify-content: center;
    margin-bottom: 5vw;
}

.textoRedesDos {
    @include elementos-flex-row;
    justify-content: center;
    margin-bottom: -4vw;

    h3{
        font-size: 4vw;
    }
}

.textoRedesTres h4 {
    font-size: 2vw;
    margin-top: 10vw;
}

.textoContactos h5 {
    font-size: 2vw;
}

@media (min-width: 576px) {

    .navbar>.container, .navbar>.container-fluid, .navbar>.container-lg, .navbar>.container-md, .navbar>.container-sm, .navbar>.container-xl, .navbar>.container-xxl {
        padding-right:1.5rem ;
    }

    .container,
    .container-sm {
        max-width: 770px;
    }


    .textoSuscripcionUno h3 {
        text-align: center;
    }

    .textoSuscripcionDos h4 {
    text-align: center;
    margin-top: -22vw;
    }


    .footerMenu {
        justify-content: space-evenly;
        margin-top: 10vw;
        margin-left: -0.5vw;
    }

    .redes {
        align-items: center;
        height: 15vw;
        width: 35vw;
        margin-left: 26vw;
        margin-bottom: -1vw;
        align-items: flex-start;
    }

    .redes a {
        width: 10vw;
        height: 10vw;
    }
}


@media (min-width: 768px) {
    
    .navbar>.container, .navbar>.container-fluid, .navbar>.container-lg, .navbar>.container-md, .navbar>.container-sm, .navbar>.container-xl, .navbar>.container-xxl {
        padding-right:0.5rem ;
    }

    .navbar-nav .nav-item {
        position: relative;
    }
    
    .navbar-nav .nav-item a::before {
        content: "";
        height: 2px;
        width: 0%;
        background:wheat;
        position: absolute;
        left: 0;
        bottom: 3px;
        transition: 0.4s ease-out;
    }
    
    .navbar-nav .nav-item:hover a::before {
        width: 100%;
        }

        .navbar-light .navbar-nav .nav-link:hover {
            color: wheat;
        }
    

    .navbar-expand-md .navbar-collapse {
        display: flex;
        flex-direction: column-reverse;
        flex-wrap: wrap;
        align-content: flex-end;
    }

    .container, .container-sm {
        max-width: 2618px;
    }

    .orange {
        height: 7vw;
        width: 100vw;
    }
    
    .navbar-brand {
        height: 5vw;
    }

    .nav-item {
        font-size: 1.8vw;
    }



    .imagenSuscripcion {
        height: 40vw;
    }

    .textoSuscripcionUno h3 {
        margin-right: 23vw;
        font-size: 4vw;
        margin-top: 10vw;
    }

    .textoSuscripcionDos h4 {
        font-size: 3vw;
        margin-bottom: 18.5vw;
        margin-right: 36vw;
        margin-top: 2vw;
    }

    .formulario {
        margin-left: -32vw;
    }

    input {
        text-align: center;
        height: 3vw;
        width: 37vw;
    }
    
    .botonSuscripcion {
        height: 3vw;
        width: 10vw;
        margin-right: 37vw;
        margin-top: 2vw;
        border-radius: 1vw solid black;
    }

    .footer {
        @include elementos-grid;
        margin-bottom: 0;
        width: auto;
    }

    .tamañoFooter {
        height: 19.5vw;
    }

    .lineaFooter {
        margin-top: 9vw;
    }

    .footerMenu {
        margin-top: 5vw;
        font-size: 1.7vw;
    }

    .redes {
        @include elementos-flex-row;
        align-items: center;
        width: 35vw;
        margin-left: 50vw;
        margin-top: 3vw;
    }

    .redes a {
        width: 4vw;
        height: 6vw;
        margin-left: 7vw;
    }


    .textoRedesUno {
        @include elementos-flex-row;
        justify-content: flex-start;
        margin-bottom: -12.5vw;
        margin-top: 1vw;
    }

    .textoRedesUno h3 {
        font-size: 3vw;
    }

    .textoRedesDos {
        @include elementos-flex-row;
        justify-content: flex-start;
    }

    .textoRedesDos h3 {
        font-size: 2vw;
    }

    
    .textoRedesTres h4 {
        font-size: 2vw;
        margin-top: 10vw;
        }
    
    .textoContactos h5 {
        font-size: 2vw;
    }
    }

    @media (min-width: 992px) {

        .navbar-brand {
            height: 4vw;
            margin-top: 0.5vw;
        }

        .orange {
            height: 5vw;
        }

        .nav-item {
            font-size: 1.5vw;
            margin-top: 0.5vw;
        }
        
        .btn-sm {
            height: 3vw;

        }

    }

    @media (min-width: 1200px) {
        
        .navbar>.container, .navbar>.container-fluid, .navbar>.container-lg, .navbar>.container-md, .navbar>.container-sm, .navbar>.container-xl, .navbar>.container-xxl {
            padding-right: 2rem ;
        }








    }