/* NOMBRE DE AREAS INICIO */

header {
    grid-area: header;
}

.inicioMain {
    grid-area: inicioMain;
}

.source {
    grid-area: source;
}

.imagenesComida {
    grid-area: imagenesComida;
}

.textoChefs {
    grid-area: textoChefs;
}

.imagenesChefs {
    grid-area: imagenesChefs;
}

.textoValoracion {
    grid-area: textoValoracion;
}

.imagenesValoracion {
    grid-area: imagenesValoracion;
}


.imagenSuscripcion {
    grid-area: imagenSuscripcion;
}

footer {
    grid-area: footer;
}

/* INICIO */

.contenedor {
    margin-bottom: 1.5em;
    display: grid;
    grid-template-areas:
        "navBrand"
        "header"
        "source"
        "inicioMain"
        "textoChefs"
        "imagenesChefs"
        "textoValoracion"
        "imagenesValoracion"
        "imagenSuscripcion"
        "footer";
}


header {

    h1 {
        margin-top: 15vw;
        font-size: 10vw;
    }

    @include elementos-grid;
    margin-bottom: 12vw;
    margin-top: 10vw;
    background-image: url(../img/fotoportadainicio-large.webp);
    background-position: center;
    background-repeat: no-repeat;
    height: 151vw;
    width: 100vw;
    background-size: cover;
    color: wheat;
}

.inicioMain {
    display: grid;
    flex-direction: column;
    justify-content: flex-start;
    width: auto;
    height: 168vw;
}


.carousel-inner .carousel-item>img {
    height: 65vw;
}

.container-fluid {
    width: 100vw;
}

.row {
    --bs-gutter-x: 0;
}


.source {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 2vw;
    max-height: 7vw;
    background-color: white;
    border-radius: 10vw;
    border-style: solid black;
    margin: -133vw 0 -4vw 28vw;
    width: 43.5vw;

    a {
        text-decoration: none;
        color: black;
    }
}

.sourceReceta {
    display: flex;
    align-items: center;
    border: none;
    background: none;
    color: black;
    width: 27vw;
    font-size: 3.5vw;
}

.botonSource {
    width: 3vw;
    height: 6vw;
    text-decoration: none;
    color: white;
    font-size: 4vw;
}

.source:hover>.sourceReceta {
    min-width: 118px;
}

.verRecetas {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    margin: -12vw 0 -5vw 0;
    background-image: url(../img/fondomain-large.webp);
    background-position: center;
    background-repeat: no-repeat;
    max-height: 63vw;
    width: auto;
    background-size: cover;
    height: 100vw;
    width: auto;

    h2 {
        font-size: 6vw;
        margin: 2vw 0 -21vw 0;
        font-weight: 500;
    }

    a {
        cursor: pointer;
        border: 0;
        font-weight: bold;
        background-color: wheat;
        color: black;
        border-radius: 10vw;
        max-height: 8vw;
        width: 30vw;
        font-size: 2.7vw;
        padding: 0.6vw;
        margin: -17vw 0 0 0;
    }

    p {
        font-size: 3vw;
        margin: 4vw 8vw 2vw 6vw;
        font-weight: 300;
    }

}

.container,
.container-fluid,
.container-lg,
.container-md,
.container-sm,
.container-xl,
.container-xxl {
    width: 100%;
    padding-right: var(--bs-gutter-x, -0.25rem);
    padding-left: var(--bs-gutter-x, -0.25rem);
    margin-right: auto;
    margin-left: auto;
}

.slide {
    margin-top: 5vw;

    img {
        height: 70vw;
    }
}

.primerParrafo {
    margin-bottom: 12vw;
    font-weight: 300;
}

.lineaCarruselChef {
    height: 5vw;
    width: 80%;
    margin-left: 10vw;
    margin-top: 6vw;
}


.textoChefs {
    @include elementos-grid;
    margin-top: -60vw;
    margin-bottom: 5vw;
    background-color: wheat;

    h2 {
        font-size: 6vw;
        font-weight: 500;
        margin-top: 14vw;
    }

    p {
        font-size: 3vw;
        font-weight: 300;
        margin: 2.4vw 4vw -5vw 3vw;
        margin-bottom: 6vw;
    }
}


.imagenesChefs {
    @include elementos-grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    margin-top: -5vw;
    align-content: center;
    max-height: 512vw;
    width: 100vw;
    gap: 1vw;
    background-color: wheat;

    img {
        border-radius: 2vw;
    }
}

.chef {
    img {
        width: 35vw;
        height: 35vw;
    }
}

.parrafoChefs {
    @include elementos-grid;
    text-decoration: none;
    color: black;
    max-height: 20vw;
    text-align: center;
    background-color: $colorGeneral;
    border-radius: 2vw;
    margin: 4vw;
    font-weight: 400;
    max-width: 40vw;


    a:hover {
        color: wheat;
    }
}

.parrafoChefs:hover {
    box-shadow: 0 3px 3px rgba(0, 0, 0, 0.4);
}

.lineaChefValoracion {
    height: 5vw;
    width: 80%;
    margin-left: 10vw;
    margin-top: 6vw;
}

.textoValoracion {
    @include elementos-grid;
    background-image: url(../img/fondomain-large.webp);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    padding-top: 14vw;


    h2 {
        font-size: 6vw;
        font-weight: 500
    }
}

.imagenesValoracion {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    width: 100vw;
    height: 80vw;
    background-image: url(../img/fondomain-large.webp);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}



@media (min-width: 576px) {

    /* INICIO */
    .contenedor {
        margin: 0;
        grid-template-columns: 1fr 1fr;
        grid-template-areas:
            "header"
            "source source"
            "textoChefs textoChefs"
            "imagenesChefs imagenesChefs"
            "textoValoracion textoValoracion"
            "imagenesValoracion imagenesValoracion"
            "imagenSuscripcion imagenSuscripcion"
            "footer footer";
    }

    header {

        h1 {
            margin-top: 11vw;
            font-size: 7vw;
        }

        @include elementos-grid;
        margin-bottom: 12vw;
        margin-top: 6vw;
        background-image: url(../img/fotoportadainicio-large.webp);
        background-position: center;
        background-repeat: no-repeat;
        height: 100vw;
        width: 100vw;
        background-size: cover;
        color: wheat;
    }

    .inicioMain {
        height: 78vw;
        width: 100vw;
    }


    .carousel-inner .carousel-item>img {
        height: 61vw;
    }

    .source {
        max-height: 5vw;
        margin: -91vw 0 -4vw 34vw;
        width: 31vw;
    }

    .sourceReceta {
        font-size: 2.3vw;
        line-height: 5vw;
        width: 19vw;
    }

    .verRecetas {
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        align-items: center;
        margin: -12vw 0 -5vw 0;
        background-image: url(../img/fondomain-large.webp);
        background-position: center;
        background-repeat: no-repeat;
        max-height: 63vw;
        width: auto;
        background-size: cover;
        height: 100vw;
        width: auto;

        h2 {
            font-size: 5vw;
            margin: -1vw 0 -21vw 0;
            font-weight: 500;
        }

        a {
            cursor: pointer;
            border: 0;
            font-weight: bold;
            color: black;
            border-radius: 10vw;
            max-height: 8vw;
            width: 30vw;
            font-size: 2.7vw;
            padding: 0.6vw;
            margin: -20vw 0 0 0;
        }

        p {
            font-size: 3vw;
            margin-top: 0vw;
            font-weight: 300;
        }

    }


    .textoChefs {
        margin-top: 34vw;

        h2 {
            font-size: 5vw;
            margin-top: 11vw;
        }

        p {
            margin-top: 2.4vw;
        }
    }

    .imagenesChefs {
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 1fr 1fr;
        max-height: 244vw;
        width: 100vw;
    }

    .parrafoChefs {
        @include elementos-flex-row;
        justify-content: center;
        align-items: center;
        width: 42vw;
        height: 5vw;
    }

    .textoValoracion {
        h2 {
            font-size: 5vw;
        }
    }


    .imagenesValoracion {
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 1fr 1fr;
        width: 100vw;
        height: 83vw;
    }
}


@media (min-width: 768px) {

    header {

        h1 {
            margin-top: 9vw;
            font-size: 6vw;
        }

        @include elementos-grid;
        margin-bottom: 12vw;
        margin-top: 6vw;
        background-image: url(../img/fotoportadainicio-large.webp);
        background-position: center;
        background-repeat: no-repeat;
        height: 73vw;
        width: 100vw;
        background-size: cover;
        color: wheat;
    }

    .inicioMain {
        height: 26vw;
        margin-left: -20vw;
        width: 119vw;
    }

    .verRecetas {
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        align-items: center;
        margin: -12vw 0 -5vw -14vw;
        background-image: url(../img/fondomain-large.webp);
        background-position: center;
        background-repeat: no-repeat;
        max-height: 30vw;
        background-size: cover;
        width: 55vw;

        h2 {
            font-size: 3.5vw;
            margin: 2vw 0 -21vw 0;
            font-weight: 500;
        }

        a {
            cursor: pointer;
            border: 0;
            font-weight: bold;
            color: black;
            border-radius: 10vw;
            max-height: 5vw;
            width: 19vw;
            font-size: 1.7vw;
            padding: 0.6vw;
            margin: -4vw 0 0 0;
        }

        p {
            font-size: 2.1vw;
            margin: 18vw 2vw 2vw 2vw;
            font-weight: 300;
        }

    }

    .textoChefs {
        margin-top: -8vw;

        h2 {
            font-size: 3.5vw;
            margin-top: 8vw;
            padding-bottom: -5vw;
        }

        p {
            font-size: 2.1vw;
            margin-bottom: 11vw;
        }
    }

    .imagenesChefs {
        @include elementos-grid;
        grid-template-columns: 1fr 1fr 1fr;
        grid-template-rows: 1fr;
        margin-top: -5.1vw;
        align-content: stretch;
        height: 58vw;
        width: 100vw;
        gap: 0.5vw;
        background-color: wheat;
    }

    .chef {
        width: 4vw;
        height: 37vw;
        margin: -7vw 0 3.6vw 6vw;
        
        img {
            width: 20vw;
            height: 20vw;
        }
    }

    .textoValoracion {
        h2 {
            font-size: 2.2vw;
        }
    }

    .carousel-inner .carousel-item>img {
        height: 30vw;
    }

    .carousel-inner {
        margin: -13vw 1.4vw;
        width: 45.9vw;
    }

    .carousel-control-prev {
        margin-left: 5.5vw;
    }

    .carousel-control-next {
        margin-right: -5.5vw;
    }

    .container-fluid {
        width: 65%;
        margin-left: 34vw;
    }

    .slide {
        margin-top: 1vw;
    }

    .container,
    .container-sm {
        max-width: 1500px;
    }

    .source {
        display: flex;
        justify-content: center;
        align-items: center;
        transform: translate(-50%, -50%);
        padding: 1.5vw;
        height: 1vw;
        border-radius: 10vw;
        border-style: solid black;
        margin: -66.5vw 0 -4vw 50vw;
        width: 25vw;
    }

    .sourceReceta {
        border: none;
        background: none;
        outline: none;
        color: black;
        font-size: 2vw;
        line-height: 5vw;
        transition: .3s;
    }

    .botonSource {
        max-width: 3vw;
        height: 3.5vw;
        text-decoration: none;
        color: white;
        font-size: 2.5vw;
    }

    .source:hover>.sourceReceta {
        width: 208px;
        font-size: 1.8vw;
    }

    .buscaRecetas {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin: -15vw 0 4vw -49vw;

        a {
            cursor: pointer;
            border: 0;
            font-weight: bold;
            background-color: #FF7F50;
            color: black;
            border-radius: 10vw;
            max-height: 5vw;
            width: 13vw;
            font-size: 1.3vw;
            padding: 0.6vw;
        }

    }


    .parrafoChefs {
        height: 5vw;
        width: 13vw;
        margin: 2vw 0 -3.4vw 3.5vw;
    }


    .imagenesValoracion {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr 1fr;
        grid-template-rows: 1fr;
        width: 100vw;
        height: 23vw;
    }

    .textoValoracion {
        padding-top: 6vw;

        h2 {
            font-size: 3.5vw;
        }
    }
}


@media (min-width: 992px) {

    header {

        h1 {
            margin-top: 6vw;
            font-size: 5vw;
        }

        @include elementos-grid;
        margin-bottom: 12vw;
        margin-top: 5vw;
        background-image: url(../img/fotoportadainicio-large.webp);
        background-position: center;
        background-repeat: no-repeat;
        height: 64vw;
        width: 100vw;
        background-size: cover;
        color: wheat;
    }

    .inicioMain {
        height: 26vw;
        margin-left: -20vw;
        width: 119vw;
    }

    .verRecetas {
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        align-items: center;
        margin: -12vw 0 -5vw -14vw;
        background-image: url(../img/fondomain-large.webp);
        background-position: center;
        background-repeat: no-repeat;
        max-height: 30vw;
        background-size: cover;
        width: 55vw;

        h2 {
            font-size: 3vw;
            margin: 2vw 0 -21vw 0;
            font-weight: 500;
        }

        a {
            cursor: pointer;
            border: 0;
            font-weight: bold;
            color: black;
            border-radius: 10vw;
            max-height: 5vw;
            width: 19vw;
            font-size: 1.3vw;
            padding: 0.6vw;
            margin: -4vw 0 0 0;
        }

        p {
            font-size: 1.7vw;
            margin-top: 18vw;
            font-weight: 300;
        }

    }

    .buscaRecetas {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin: -15vw 0 4vw -46vw;

        a {
            cursor: pointer;
            border: 0;
            font-weight: bold;
            background-color: #FF7F50;
            color: black;
            border-radius: 10vw;
            max-height: 5vw;
            width: 13vw;
            font-size: 1vw;
            padding: 0.6vw;
        }

    }

    .source {
        display: flex;
        justify-content: center;
        align-items: center;
        transform: translate(-50%, -50%);
        padding: 1.5vw;
        height: 1vw;
        border-radius: 10vw;
        border-style: solid black;
        margin: -61vw 0 -4vw 50vw;
        width: 21vw;
    }


    .sourceReceta {
        border: none;
        background: none;
        outline: none;
        color: black;
        font-size: 1.8vw;
        line-height: 2vw;
        width: 14vw;
    }

    .source:hover>.sourceReceta {
        width: 22vw;
        font-size: 2.0vw;
    }

    .botonSource {
        max-width: 3vw;
        height: 3.3vw;
        text-decoration: none;
        color: white;
        font-size: 2.3vw;
    }

    .container,
    .container-sm {
        max-width: 2000px;
        margin: 0.4vw 0 0.4vw 0;
        font-size: 1.2vw;
    }

    .carousel-inner {
        margin: -13vw 2.3vw;
        width: 45vw;
    }

    .carousel-control-prev {
        margin-left: -5vw;
    }

    .carousel-control-next {
        margin-right: 3.5vw;
    }


    .textoChefs {
        h2 {
            font-size: 3vw;
        }

        p {
            font-size: 1.7vw;
        }
    }

    .parrafoChefs {


        a {
            height: 6vw;
            min-width: 14vw;
            margin-top: 4vw;
            font-weight: 600;
            font-size: 1.4vw;
        }
    }

    .imagenesValoracion {
        margin: 0 0 0 0,1vw;
    }



}

@media (min-width: 1200px) {

    .carousel-control-prev {
        margin-left: 33vw;

    }

    .carousel-control-next {
        margin-left: -11.5vw;
    }






}