/* NOMBRE AREAS RECETAS */

.destacadaMesTitulo {
    grid-area: destacadaMesTitulo;
}

.menuRecetas {
    grid-area: menuRecetas;
}

.sectionRecetas {
    grid-area: contenedorRecetas;
}

.imagenesRecetas {
    grid-area: imagenesRecetas;
}

.destacadaMesTitulo {
    grid-area: destacadaMesTitulo;
}


/* RECETAS */


.lineaImagenesRecetasUno {
    height: 5vw;
    width: 80%;
    margin-left: 10vw;
}

.lineaImagenesRecetasDos {
    height: 5vw;
    width: 80%;
    margin-left: 10vw;
    margin-top: -6vw;
    margin-bottom: 5vw;
}

.contenedorRecetas {
    background-color: white;
    padding-left: 15px;
    padding-right: 15px;
    margin-right: auto;
    margin-left: auto;
    display: grid;
    grid-template-areas:
        "imagenesRecetas"
        "sectionRecetas"
        "imagenSuscripcion"
        "footer";
}

.muchasRecetas {
    @include elementos-grid;
    align-items: center;
    margin-bottom: 10vw;
    background-image: url(../img/fondomain-large.webp);
    background-position: center;
    background-repeat: no-repeat;
    width: auto;
    background-size: cover;
    width: auto;
}  

.muchasRecetasUno {
    padding-top: 5vw;
}

.muchasRecetasDos {
    padding-bottom: 5vw;
}



.tituloRecetas {
    margin-bottom: -5vw;
}


.imagenesRecetas {
    @include elementos-grid;
    align-items: center;
    margin: 3vw;
}

.lineaImagenesRecetas {
    height: 5vw;
    width: 80%;
    margin-left: 10vw;
    margin-top: -2vw;
    margin-bottom: 5vw;
}

.recetasMain {
    display: grid;
    flex-direction: column;
    justify-content: flex-start;
    align-items: start;
    width: auto;
    margin-top: 120vw;
}

.imagenRecetaUno img,
.imagenRecetaDos img,
.imagenRecetaTres img,
.imagenRecetaCuatro img,
.imagenRecetaCinco img,
.imagenRecetaSeis img {
    box-shadow: 0 2px 2px rgba(0, 0, 0, 0.2);
}

.enlaceRecetas {
    @include elementos-grid;
    font-weight: 600;
    text-decoration: none;
    max-height: 13vw;
    text-align: center;
    background-color: $colorGeneral;
    border-radius: 3vw;
    margin: 4vw;
}

.lineaRecetasSuscripcion {
    height: 5vw;
    width: 80%;
    margin-left: 10vw;
    margin-top: -5.5vw;
    margin-bottom: 5vw;
}

@media (min-width: 576px) {

    .tituloRecetas {
        @include elementos-flex-row;
        justify-content: center;

    }

    .lineaImagenesRecetasUno {
        margin-left: 10vw;
        margin-top: -10vw;
    }

    .lineaImagenesRecetasDos {
        margin-left: 10vw;
        margin-top: -7vw;
    }

    .lineaRecetasSuscripcion {
        margin-top: -1vw;
        margin-bottom: 4vw;
    }

    .imagenesRecetas {
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 1fr 1fr;
        gap: 3vw;
        margin-top: -36vw;
    }
    .lineaImagenesRecetas {
        margin-bottom: 7vw;
    }

    .sectionRecetas {
        @include elementos-grid;
        align-items: center;
        margin-top: 10vw;
        margin-bottom: 5vw;
        gap: 6vw;
        columns: 2;
    }

    .ulRecetas {
        columns: 2;
        -webkit-columns: 2;
        -moz-columns: 2;
    }

    .enlaceRecetas {
        max-height: 4vw;
        font-size: 2.3vw;
    }

    .muchasRecetas {
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 1fr;
        margin-top: -3vw;
        margin-bottom: 5vw;
        padding: 4vw 0 4vw 0;
    }

    .muchasRecetasUno {
        @include elementos-flex-column;
        align-items: flex-start;
        margin-left: 7vw;
        padding-top: 0vw;

        a:hover {
            color: #FF7F50;
        }
    }

    .muchasRecetasDos {
        @include elementos-flex-column;
        align-items: flex-end;
        margin-right: 7vw;
        padding-bottom: 0vw;

        a:hover {
            color: #FF7F50;
        }
    }
}

@media (min-width: 768px) {

    /* RECETAS */
    
    .contenedorRecetas {
        padding-left: 25px;
        padding-right: 25px;
    }

    .tituloRecetas {
        margin-left: -1vw;
        margin-top: -1vw;
        margin-left: 1vw;
    }

    .lineaImagenesRecetasUno {
        height: 5vw;
        width: 80%;
        margin-top: 3vw;
    }

    .lineaImagenesRecetasDos {
        height: 5vw;
        width: 80%;
        margin-top: -6vw;
    }

    .recetasMain {
        width: 90vw;
        margin-left: 2.4vw;
    }


    .imagenesRecetas {
        grid-template-columns: 1fr 1fr 1fr;
        grid-template-rows: 1fr 1fr;
        gap: 4vw;
        margin-top: -60vw;
        align-items: center;
        img {
            width: 27vw;
            height: 20vw;
        }
    }


    .BorderBottom a:hover {
        border-bottom: 3px solid wheat;
    }

    .enlaceRecetas {
        height: 7vw;
        align-items: center;
        width: 19vw;
        font-size: 1.4vw;

        a:hover {
            color: wheat;
        }
    }

    .enlaceRecetas:hover {
        box-shadow: 0 3px 3px rgba(0, 0, 0, 0.3);
    }
}


@media (min-width: 992px) {

    .tituloRecetas {
        margin-left: -1vw;
        margin-top: 0vw;
        margin-left: 0vw;
    }


    .imagenesRecetas {
    margin-top: -66vw;
    gap:6.5vw;
    }

    .lineaImagenesRecetas {
        margin-top: -8vw;
    }

    .enlaceRecetas {
        height: 7vw;
        align-items: center;
        width: auto;
        font-size: 1.4vw;
}

.imagenRecetaCuatro img,
.imagenRecetaCinco img,
.imagenRecetaSeis img {
    margin-top: -10vw;
}
}


@media (min-width: 1200px) {
    
    .imagenesRecetas {
        margin: -75vw 0 0 7.5vw;
        width: 89vw;

        img {
            width: 20vw;
            height: 13vw;
        }
        }
        
        .enlaceRecetas {
            height: 4vw;
            align-items: center;
            width: 17vw;
            font-size: 1.1vw;
            margin-top: 1.8vw;
    }

    .recetasMain {
        margin-bottom: -25vw;
        margin-left: -2vw;

    }

    .lineaImagenesRecetas {
        margin-top: -29vw;
        margin-bottom: 6vw;
    }

    .lineaRecetasSuscripcion {
        margin-top: -2vw;
        margin-bottom: 3vw;
    }




}