/* NOMBRE AREAS SALUD Y NUTRICION */

.contenedorGrid {
    grid-area: contenedorGrid;
}

.contenedorCards {
    grid-area: contenedorCards;
}

.card {
    grid-area: card;
}

/*SALUD Y NUTRICION*/

.contenedorSaludNutricion {
    background-color: white;
    margin-bottom: 1.5em;
    display: grid;
    grid-template-areas:
        "contenedorGrid"
        "contenedorCards"
        "card";
}

.contenedorGrid {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr ;
    align-items: center;
}


.contenedorCards {

display: flex;
flex-direction: column;
justify-content: center;
}

.contenedorCards .card {
width: 330px;
height: 430px;
border-radius: 8px;
box-shadow: 0 2px 2px rgba(0, 0, 0, 0.2);
overflow: hidden;
margin: 20px;
text-align: center;
transition: all 0.25s;
}

.contenedorCards .card:hover {
    transform: translateY(-15px);
    box-shadow: 0 12px 16px rgba(0, 0, 0, 0.2);
}

.contenedorCards .card picture img {
    width: 330px;
    height: 220px;
}

.contenedorCards .card h2 {
    font-weight: 600;
}

.contenedorCards .card p {
    padding: 0 1rem;
    font-size: 16px;
    font-weight: 300;
}

.contenedorCards .card a {
    font-weight: 500;
    text-decoration: none;
}

@media (min-width: 576px) {

}