/* NOMBRE AREAS SALUD Y NUTRICION */

.contenedorCards {
    grid-area: contenedorCards;
}

.card {
    grid-area: card;
}


.contenedorSaludNutricion {
    background-color: white;
    margin-bottom: 1.5em;
    justify-items: center;
    display: grid;
    grid-template-areas:
        "contenedorCards"
        "cardUno"
        "cardDos"
        "cardTres"
        "cardCuatro"
        "cardCinco"
        "cardSeis";
}

.contenedorCards {
    @include elementos-grid;
}


.contenedorCards .cardUno,
.cardDos,
.cardTres,
.cardCuatro,
.cardCinco,
.cardSeis {
    width: 68.75vw;
    min-height: 89.5vw;
    box-shadow: 0 2px 2px rgba(0, 0, 0, 0.2);
    overflow: hidden;
    margin: 4.1vw;
    text-align: center;
    transition: all 0.25s;
}

.contenedorCards .cardUno:hover,
.cardDos:hover,
.cardTres:hover,
.cardCuatro:hover,
.cardCinco:hover,
.cardSeis:hover {
    transform: translateY(-3.1vw);
    box-shadow: 0 2.5vw 3, 3vw rgba(0, 0, 0, 0.2);
}

.contenedorCards .cardUno picture img,
.cardDos picture img,
.cardTres picture img,
.cardCuatro picture img,
.cardCinco picture img,
.cardSeis picture img {
    width: 68vw;
    height: 45.8vw;
}

.contenedorCards .cardUno h2,
.cardDos h2,
.cardTres h2,
.cardCuatro h2,
.cardCinco h2,
.cardSeis h2 {
    font-weight: 600;
    margin-top: 2vw;
}

.contenedorCards .cardUno p,
.cardDos p,
.cardTres p,
.cardCuatro p,
.cardCinco p,
.cardSeis p {
    padding: 0 1rem;
    font-size: 3.3vw;
    font-weight: 300;
}

.contenedorCards .cardUno a,
.cardDos a,
.cardTres a,
.cardCuatro a,
.cardCinco a,
.cardSeis a {
    font-weight: 500;
    text-decoration: none;
}

.lineaSaludNutricion {
    height: 5vw;
    width: 80%;
    margin-left: 10vw;
    margin-top: 3vw;
    margin-bottom: 3vw;
}

.lineaSaludNutricionDos {
    height: 5vw;
    width: 80%;
    margin-left: 10vw;
    margin-top: -1vw;
    margin-bottom: 7vw;
}

@media (min-width: 576px) {

    .contenedorSaludNutricion {
        background-color: white;
        margin-bottom: 1.5em;
        grid-template-areas:
            "contenedorCards contenedorCards"
            "cardUno cardUno"
            "cardDos cardDos"
            "cardTres cardTres"
            "cardCuatro cardCuatro"
            "cardCinco cardCinco"
            "cardSeis cardSeis";
        ;
    }

    .contenedorCards {
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 1fr;
        justify-items: center;
    }


    .contenedorCards .cardUno,
.cardDos,
.cardTres,
.cardCuatro,
.cardCinco,
.cardSeis {
    width: 41.75vw;
    min-height: 76.5vw;
}


.contenedorCards .cardUno picture img,
.cardDos picture img,
.cardTres picture img,
.cardCuatro picture img,
.cardCinco picture img,
.cardSeis picture img {
    width: 100%;
    height: auto;
}


.lineaSaludNutricion {
    height: 5vw;
    width: 80%;
    margin-left: 10vw;
    margin-top: 3vw;
    margin-bottom: 3vw;
}

}

@media (min-width: 768px) {



    .contenedorCards {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        grid-template-rows: 1fr 1fr;
        align-items: start;
    }

    .contenedorCards .cardUno,
    .cardDos,
    .cardTres,
    .cardCuatro,
    .cardCinco,
    .cardSeis {
        width: 24.75vw;
        min-height: 34.5vw;
        a:hover {
            color: orange;
        }
    }
    
    .contenedorCards .cardUno h2,
    .cardDos h2,
    .cardTres h2,
    .cardCuatro h2,
    .cardCinco h2,
    .cardSeis h2 {
        font-size: 2.5vw;
    }
    
    .contenedorCards .cardUno p,
    .cardDos p,
    .cardTres p,
    .cardCuatro p,
    .cardCinco p,
    .cardSeis p {
        font-size: 1.8vw;
    }

}