/*NOMBREA AREAS DE TIPS DE COCINA*/


.contenedorTipsCocina {
    grid-area: contenedorTipsCocina;
}

.contenedorVideos {
    grid-area: contenedorVideos;
}


.videosTipsCocinaUno {
    grid-area: videosTipsCocinaUno;
}

.videosTipsCocinaDos {
    grid-area: videosTipsCocinaDos;
}

.videosTipsCocinaTres {
    grid-area: videosTipsCocinaTres;
}

.videosTipsCocinaCuatro {
    grid-area: videosTipsCocinaCuatro;
}

video {
    width: 100%;
    height: 100%;
}

/*TIPS DE COCINA*/


.contenedorTipsCocina {
    background-color: white;
    padding-left: 20px;
    padding-right: 20px;
    margin-right: auto;
    margin-left: auto;
    margin-bottom: 1.5em;
    display: grid;
    grid-template-areas:
        "contenedorVideos"
        "videosTipsCocina"
        "videosTipsCocina"
        "videosTipsCocina"
        "videosTipsCocina";
}

.contenedorVideos {
    @include elementos-grid;
}

.videosTipsCocina {
    @include elementos-grid;
}


.cabeceraVideos h2 {
    margin-bottom: 5vw;
}

.cabeceraVideos p {
    font-size: 3vw;
    font-weight: 400;
}

.contenedorEstrellas {
    margin-bottom: 2vw;

    p {
        margin-bottom: 0vw;
    }
}



.lineaTipsCocinaVideosUno {
    height: 5vw;
    width: 80%;
    margin-left: 10vw;
    margin-top: 4vw;
}

.lineaTipsCocinaVideosDos {
    height: 5vw;
    width: 80%;
    margin-left: 10vw;
    margin-top: 4vw;
    margin-bottom: 4vw;
}

.lineaTipsCocinaVideosTres {
    height: 5vw;
    width: 80%;
    margin-left: 10vw;
    margin-top: 4vw;
}

.lineaTipsCocinaVideosCuatro {
    height: 5vw;
    width: 80%;
    margin-left: 10vw;
    margin-top: 4vw;
}

.lineaTipsCocinaVideosCinco {
    height: 5vw;
    width: 80%;
    margin-left: 10vw;
    margin-top: 4vw;
}

@media (min-width: 576px) {

    .cabeceraVideos p {
        font-size: 2.5vw;
    }

}

@media (min-width: 768px) {

    .contenedorTipsCocina {
        background-color: white;
        padding-left: 30px;
        padding-right: 30px;
        margin-right: auto;
        margin-left: auto;
        margin-bottom: 1.5em;
        display: grid;
        grid-template-areas:
            "videosTipsCocina videosTipsCocina"
            "videosTipsCocina videosTipsCocina"
            "videosTipsCocina videosTipsCocina"
            "videosTipsCocina videosTipsCocina"
            "contenedorVideos contenedorVideos";
    }


    .videosTipsCocina {
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 1fr;
        align-items: center;
    }

    .ratio>* {
        width: 90%;
    }

    .cabeceraVideos {
        p {
            font-size: 1.7vw;
            margin-left: auto;
            padding: 0 4vw 0 4vw;
            margin-top: 3vw;
        }
        h2 {
            font-size: 3vw;
            margin-top: 2vw;
            margin-bottom: -2vw;
        }
    }

    .lineaTipsCocinaVideosUno {
        height: 5vw;
        width: 90%;
        margin-left: 5vw;
        margin-top: 3vw;
        margin-bottom: 2vw;
    }

    .lineaTipsCocinaVideosDos {
        height: 5vw;
        width: 90%;
        margin-left: 5vw;
        margin-top: 2vw;
        margin-bottom: 2vw;
    }

    .lineaTipsCocinaVideosTres {
        height: 5vw;
        width: 90%;
        margin-left: 5vw;
        margin-top: 2vw;
        margin-bottom: 4vw;
    }

    .lineaTipsCocinaVideosCuatro {
        height: 5vw;
        width: 90%;
        margin-left: 5vw;
        margin-top: 4vw;
        margin-bottom: 3.4vw;
    }

    .lineaTipsCocinaVideosCinco {
        height: 5vw;
        width: 90%;
        margin-left: 5vw;
        margin-top: 3.3vw;
        margin-bottom: 4vw;
    }


    .fechaVideos {
        font-size: 1.5vw;
        
    }

    .valoracionEstrellas {
        margin-top: 3vw;
    }
}

@media (min-width: 992px) {
    
    .cabeceraVideos {
        p {
            font-size: 1.2vw;    
        }
        h2 {
            font-size: 2.1vw;
        }
    }

    .lineaTipsCocinaVideosUno {
        margin-top: 3.3vw;
        margin-bottom: 2.3vw;
    }

    .lineaTipsCocinaVideosTres {
        margin-top: 2.5vw;
        margin-bottom: 3.5vw;
    }

    .lineaTipsCocinaVideosCuatro {
        margin-top: 3.6vw;
        margin-bottom: 3.6vw;
    }

    .lineaTipsCocinaVideosCinco {
        margin-top: 3.5vw;
        margin-bottom: 2vw;
    }

}
