/*NOMBREA AREAS DE TIPS DE COCINA*/


.contenedorTipsCocina {
    grid-area: contenedorTipsCocina;
}

.contenedorVideos {
    grid-area: contenedorVideos;
}

.videosTipsCocinaUno {
    grid-area: videosTipsCocinaUno;
}

.videosTipsCocinaDos {
    grid-area: videosTipsCocinaDos;
}

.videosTipsCocinaTres {
    grid-area: videosTipsCocinaTres;
}

.videosTipsCocinaCuatro {
    grid-area: videosTipsCocinaCuatro;
}

.tipsCocinaMain {
    grid-area: tipsCocinaMain;
}

video {
    width: 100%;
    height: 100%;
}

/*TIPS DE COCINA*/


.contenedorTipsCocina {
    background-color: white;
    padding-left: 20px;
    padding-right: 20px;
    margin-right: auto;
    margin-left: auto;
    margin-bottom: 1.5em;
    display: grid;
    grid-template-areas:
        "contenedorVideos"
        "tipsCocinaMain"
        "videosTipsCocina"
        "videosTipsCocina"
        "videosTipsCocina"
        "videosTipsCocina";
}

.contenedorVideos {
    @include elementos-grid;
    background-color: wheat;
    padding-top: 10vw;
    margin-top: -10.1vw;
}

.tipsCocinaMain {
    margin-top: 125vw;
}

.videosTipsCocina {
    @include elementos-grid;
    margin: 0 5vw 0 5vw;
}


.cabeceraVideos {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 1.5vw 3vw 5vw 3vw;
    padding: 4vw 4vw 0vw 4vw;
    h2 {
        margin-bottom: 5vw;
    }

    p {
        font-size: 3.2vw;
        font-weight: 400;
    }

}

.contenedorEstrellas {
    margin-bottom: 2vw;

    p {
        margin-bottom: 0vw;
    }
}


.lineaTipsCocinaVideosUno {
    height: 5vw;
    width: 80%;
    margin: -5vw 0 4vw 10vw;
}

.lineaTipsCocinaVideosDos {
    height: 5vw;
    width: 80%;
    margin: 6vw 0 4vw 10vw;
}

.lineaTipsCocinaVideosTres {
    height: 5vw;
    width: 80%;
    margin: 6vw 0 4vw 10vw;
}

.lineaTipsCocinaVideosCuatro {
    height: 5vw;
    width: 80%;
    margin: 5.6vw 0 4vw 10vw;
}

.lineaTipsCocinaVideosCinco {
    height: 5vw;
    width: 80%;
    margin: 6vw 0 6vw 10vw;
}

@media (min-width: 576px) {

    .tipsCocinaMain {
        margin-top: 84vw;
    }

    .cabeceraVideos {
        display: flex;
        flex-direction: column;
        justify-content: center;
        margin: 1.5vw 3vw 5vw 3vw;
        padding: 1vw 4vw 0vw 4vw;
        h2 {
            margin-bottom: 5vw;
        }
    
        p {
            font-size: 2.5vw;
            font-weight: 400;
        }
    
    }

}

@media (min-width: 768px) {


    .contenedorTipsCocina {
        background-color: white;
        padding-left: 30px;
        padding-right: 30px;
        margin-right: auto;
        margin-left: auto;
        margin-bottom: 1.5em;
        display: grid;
        grid-template-areas:
            "videosTipsCocina videosTipsCocina"
            "videosTipsCocina videosTipsCocina"
            "videosTipsCocina videosTipsCocina"
            "videosTipsCocina videosTipsCocina"
            "contenedorVideos contenedorVideos";
    }

    .tipsCocinaMain {
        margin-top: 59.5vw;
    }

    .contenedorVideos {
        padding-top: 6.5vw;
        margin-top: -6.1vw;
    }


    .videosTipsCocina {
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 1fr;
        align-items: center;
        margin: 0 0vw 0 0vw;
    }

    .ratio>* {
        width: 90%;
    }

    .cabeceraVideos {
        height: 28vw;
        margin: 0.5vw 0 4vw 0;
        p {
            font-size: 1.7vw;
            margin-left: auto;
            margin-top: 3vw;
        }

        h2 {
            font-size: 3vw;
            margin-top: -2vw;
            margin-bottom: -2vw;
        }

        .fechaVideos {
            margin: 0 -1vw 3vw 0;
        }

    }

    .lineaTipsCocinaVideosUno {
        height: 5vw;
        width: 90%;
        margin-left: 5vw;
        margin-top: 3vw;
        margin-bottom: 2vw;
    }

    .lineaTipsCocinaVideosDos {
        height: 5vw;
        width: 90%;
        margin-left: 5vw;
        margin-top: 2vw;
        margin-bottom: 2vw;
    }

    .lineaTipsCocinaVideosTres {
        height: 5vw;
        width: 90%;
        margin-left: 5vw;
        margin-top: 2vw;
        margin-bottom: 2.2vw;
    }

    .lineaTipsCocinaVideosCuatro {
        height: 5vw;
        width: 90%;
        margin-left: 5vw;
        margin-top: 2.5vw;
        margin-bottom: 2.4vw;
    }

    .lineaTipsCocinaVideosCinco {
        height: 5vw;
        width: 90%;
        margin-left: 5vw;
        margin-top: 2.3vw;
        margin-bottom: 4vw;
    }


    .fechaVideos {
        font-size: 1.5vw;

    }

    .contenedorEstrellas {
        margin-bottom: -1vw;
    }

    .valoracionEstrellas {
        margin-top: -3vw;
    }
}

@media (min-width: 992px) {
    .cabeceraVideos {
        height: 24vw;
        margin: 0.5vw 0 4vw 0;
        p {
            font-size: 1.6vw;
            margin-left: auto;
            margin-top: 3vw;
        }

        h2 {
            font-size: 2.5vw;
            margin-top: -2vw;
            margin-bottom: -2vw;
        }

        .fechaVideos {
            margin: 0 -1vw 3vw 0;
        }

    }


    .tipsCocinaMain {
        margin-top: 52.9vw;
    }

    .lineaTipsCocinaVideosUno {
        margin: 3.3vw 0 2.3vw 5vw;
    }

    .lineaTipsCocinaVideosTres {
        margin-top: 2.5vw;
        margin-bottom: 2.5vw;
    }

    .lineaTipsCocinaVideosCuatro {
        margin-top: 2.6vw;
        margin-bottom: 2.6vw;
    }

    .lineaTipsCocinaVideosCinco {
        margin-top: 2.5vw;
        margin-bottom: 2.5vw;
    }

}


@media (min-width: 1200px) {


    .tipsCocinaMain {
        margin-top: 45.6vw;
    }


    .cabeceraVideos {
        height: 24vw;
        margin: 0.5vw 0 4vw 0;
        p {
            font-size: 1.1vw;
            margin-left: auto;
            margin-top: 3vw;
            padding: 0 6vw 0 6vw;
        }

        h2 {
            font-size: 1.8vw;
            margin-top: -2vw;
            margin-bottom: -2vw;
        }

        .fechaVideos {
            margin: 0 -1vw 3vw 0;
        }

    }

    .ratio {
        width: 85%;
    }

    .videosTipsCocina {
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 1fr;
        align-items: center;
        margin: -3vw 0vw -3vw 0vw;
    }

    .lineaTipsCocinaVideosDos {
        margin-top: 3vw;
        margin-bottom: 3vw;
    }

    .lineaTipsCocinaVideosTres {
        margin-top: 3vw;
        margin-bottom: 3vw;
    }

    .lineaTipsCocinaVideosCuatro {
        margin-top: 3vw;
        margin-bottom: 3vw;
    }

    .lineaTipsCocinaVideosCinco {
        margin-top: 3vw;
        margin-bottom: 3vw;
    }






}