@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Courgette&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Open+Sans&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  text-align: center;
  font-weight: bolder;
  letter-spacing: 0, 3em;
  font-family: "Open Sans", sans-serif;
}

img {
  width: 100%;
  height: 100%;
}

.orange {
  background-image: url(../img/fondonavbar-large.webp);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  border-bottom: 0.01vw solid wheat;
}

.navbar-light .navbar-brand {
  color: wheat;
}

.navbar-light .navbar-toggler-icon {
  background-image: url(../img/menuhamburguesa-nav.png);
}

.navbar-light .navbar-nav .nav-link {
  color: wheat;
}

.navbar > .container,
.navbar > .container-fluid,
.navbar > .container-lg,
.navbar > .container-md,
.navbar > .container-sm,
.navbar > .container-xl,
.navbar > .container-xxl {
  margin-top: -0.2vw;
  margin-left: auto;
  margin-right: auto;
  padding-left: 1rem;
  padding-right: 1.5rem;
}

.navbar-brand {
  margin-left: 2vw;
  margin-top: 0.5vw;
}
.navbar-brand img {
  margin: -1vw 0 0 1vw;
  height: 8.2vw;
  width: 8.2vw;
}

ul {
  list-style-type: none;
}

a {
  text-decoration: none;
  color: black;
}

header {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr;
  margin-bottom: 12vw;
  margin-top: 10vw;
  background-image: url(../img/fotoportadainicio-large.webp);
  background-position: center;
  background-repeat: no-repeat;
  height: 151vw;
  width: 100vw;
  background-size: cover;
  color: wheat;
  font-size: large;
  display: grid;
  justify-content: center;
  font-family: "Courgette", cursive;
}
header h1 {
  margin-top: 17vw;
  font-size: 9vw;
}

.source {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 2vw;
  max-height: 7vw;
  background-color: white;
  border-radius: 10vw;
  border-style: solid black;
  margin: -133vw 0 -4vw 28vw;
  width: 43.5vw;
}
.source a {
  text-decoration: none;
  color: black;
}

.sourceReceta {
  display: flex;
  align-items: center;
  border: none;
  background: none;
  color: black;
  width: 27vw;
  font-size: 3.5vw;
}

.botonSource {
  width: 3vw;
  height: 6vw;
  text-decoration: none;
  color: white;
  font-size: 4vw;
}

footer {
  padding: 3em 3em 0em 3em;
  background-color: wheat;
  margin-bottom: 0;
  margin-top: 1.5em;
}
footer a:hover {
  color: #FF7F50;
}

.imagenSuscripcion {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr;
  background-image: url(../img/fondosuscripcion-large.webp);
  background-position: center;
  background-repeat: no-repeat;
  height: 53vw;
  width: auto;
  background-size: cover;
  color: wheat;
  margin-bottom: -7vw;
}

.textoSuscripcionUno h3 {
  display: flex;
  flex-direction: row;
  justify-content: center;
  font-size: 5vw;
  margin-top: 14vw;
}

.textoSuscripcionDos h4 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  font-size: 3vw;
  margin-top: -21vw;
}

.formulario {
  margin-top: -14vw;
  margin-bottom: 14vw;
}

.btn-sm {
  background-color: wheat;
  color: black;
}

.footer {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr;
  margin-bottom: 0;
  width: auto;
  height: 150vw;
  position: fixed;
}

.lineaFooter {
  margin-top: 11vw;
}

.footerMenu {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 3vw;
  margin: 8vw 4vw 5vw 4vw;
  font-size: 2.5vw;
}

.redes {
  display: flex;
  flex-direction: row;
  justify-content: center;
  height: auto;
  width: auto;
  margin-bottom: 7vw;
}

.textoRedesUno {
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin-bottom: 5vw;
}

.textoRedesDos {
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin-bottom: -4vw;
}
.textoRedesDos h3 {
  font-size: 4vw;
}

.textoRedesTres h4 {
  font-size: 2vw;
  margin-top: 10vw;
}

.textoContactos h5 {
  font-size: 2vw;
}

@media (min-width: 576px) {
  .navbar > .container,
.navbar > .container-fluid,
.navbar > .container-lg,
.navbar > .container-md,
.navbar > .container-sm,
.navbar > .container-xl,
.navbar > .container-xxl {
    padding-right: 1.5rem;
  }
  .navbar-brand img {
    margin: -0.9vw 0 0 1vw;
    height: 6vw;
    width: 6vw;
  }
  .container,
.container-sm {
    max-width: 770px;
  }
  header {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr;
    margin-bottom: 12vw;
    margin-top: 6vw;
    background-image: url(../img/fotoportadainicio-large.webp);
    background-position: center;
    background-repeat: no-repeat;
    height: 100vw;
    width: 100vw;
    background-size: cover;
    color: wheat;
  }
  header h1 {
    margin-top: 11vw;
    font-size: 7vw;
  }
  .source {
    max-height: 5vw;
    margin: -91vw 0 -4vw 34vw;
    width: 31vw;
  }
  .sourceReceta {
    font-size: 2.3vw;
    line-height: 5vw;
    width: 19vw;
  }
  .textoSuscripcionUno h3 {
    text-align: center;
  }
  .textoSuscripcionDos h4 {
    text-align: center;
    margin-top: -22vw;
  }
  .footerMenu {
    justify-content: space-evenly;
  }
  .redes {
    align-items: center;
    height: 15vw;
    width: 35vw;
    margin-left: 26vw;
    margin-bottom: -1vw;
    align-items: flex-start;
  }
  .redes a {
    width: 10vw;
    height: 10vw;
  }
}
@media (min-width: 768px) {
  .navbar > .container,
.navbar > .container-fluid,
.navbar > .container-lg,
.navbar > .container-md,
.navbar > .container-sm,
.navbar > .container-xl,
.navbar > .container-xxl {
    padding-right: 1.5rem;
  }
  .navbar-nav .nav-item {
    position: relative;
  }
  .navbar-nav .nav-item a::before {
    content: "";
    height: 2px;
    width: 0%;
    background: wheat;
    position: absolute;
    left: 0;
    bottom: 3px;
    transition: 0.4s ease-out;
  }
  .navbar-nav .nav-item:hover a::before {
    width: 100%;
  }
  .navbar-light .navbar-nav .nav-link:hover {
    color: wheat;
  }
  .navbar-expand-md .navbar-collapse {
    display: flex;
    flex-direction: column-reverse;
    flex-wrap: wrap;
    align-content: flex-end;
  }
  .navbar-brand {
    margin-left: 0.6vw;
  }
  .navbar-brand img {
    margin: -0.7vw 0 0 1vw;
    height: 4vw;
    width: 4vw;
  }
  .container,
.container-sm {
    max-width: 2618px;
  }
  .orange {
    height: 7vw;
    width: 100vw;
  }
  .navbar-brand {
    height: 5vw;
  }
  .nav-item {
    font-size: 1.8vw;
    margin-bottom: -0.3vw;
  }
  header {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr;
    margin-bottom: 12vw;
    margin-top: 6vw;
    background-image: url(../img/fotoportadainicio-large.webp);
    background-position: center;
    background-repeat: no-repeat;
    height: 73vw;
    width: 100vw;
    background-size: cover;
    color: wheat;
  }
  header h1 {
    margin-top: 6.9vw;
    font-size: 6vw;
  }
  .source {
    display: flex;
    justify-content: center;
    align-items: center;
    transform: translate(-50%, -50%);
    padding: 2vw;
    height: 1vw;
    border-radius: 10vw;
    border-style: solid black;
    margin: -68vw 0 -4vw 50vw;
    width: 26vw;
  }
  .sourceReceta {
    border: none;
    background: none;
    outline: none;
    color: black;
    font-size: 2vw;
    line-height: 5vw;
    transition: 0.3s;
  }
  .botonSource {
    max-width: 3vw;
    height: 3.5vw;
    text-decoration: none;
    color: white;
    font-size: 2.5vw;
  }
  .imagenSuscripcion {
    height: 40vw;
  }
  .textoSuscripcionUno h3 {
    margin-right: 23vw;
    font-size: 4vw;
    margin-top: 10vw;
  }
  .textoSuscripcionDos h4 {
    font-size: 3vw;
    margin-bottom: 18.5vw;
    margin-right: 36vw;
    margin-top: 2vw;
  }
  .formulario {
    margin-left: -32vw;
  }
  input {
    text-align: center;
    height: 3vw;
    width: 37vw;
  }
  .botonSuscripcion {
    height: 3vw;
    width: 10vw;
    margin-right: 37vw;
    margin-top: 2vw;
    border-radius: 1vw solid black;
  }
  .footer {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr;
    margin-bottom: 0;
    width: auto;
  }
  .tamañoFooter {
    height: 19.5vw;
  }
  .lineaFooter {
    margin-top: 9vw;
  }
  .footerMenu {
    margin-top: 5vw;
    font-size: 1.7vw;
  }
  .redes {
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 35vw;
    margin-left: 50vw;
    margin-top: 3vw;
  }
  .redes a {
    width: 4vw;
    height: 6vw;
    margin-left: 7vw;
  }
  .textoRedesUno {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    margin-bottom: -12.5vw;
    margin-top: 1vw;
  }
  .textoRedesUno h3 {
    font-size: 3vw;
  }
  .textoRedesDos {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
  }
  .textoRedesDos h3 {
    font-size: 2vw;
  }
  .textoRedesTres h4 {
    font-size: 2vw;
    margin-top: 10vw;
  }
  .textoContactos h5 {
    font-size: 2vw;
  }
}
@media (min-width: 992px) {
  .navbar-brand {
    margin-left: 0.6vw;
  }
  .navbar-brand img {
    margin: 0.5vw 0 0 1vw;
    height: 3vw;
    width: 3vw;
  }
  .orange {
    height: 5vw;
  }
  .nav-item {
    font-size: 1.5vw;
    margin-top: 0.5vw;
  }
  .btn-sm {
    height: 3vw;
  }
  header {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr;
    margin-bottom: 12vw;
    margin-top: 5vw;
    background-image: url(../img/fotoportadainicio-large.webp);
    background-position: center;
    background-repeat: no-repeat;
    height: 64vw;
    width: 100vw;
    background-size: cover;
    color: wheat;
  }
  header h1 {
    margin-top: 6vw;
    font-size: 5vw;
  }
  .source {
    display: flex;
    justify-content: center;
    align-items: center;
    transform: translate(-50%, -50%);
    padding: 1.9vw;
    height: 1vw;
    border-radius: 10vw;
    border-style: solid black;
    margin: -61vw 0 -4vw 50vw;
    width: 23vw;
  }
  .sourceReceta {
    border: none;
    background: none;
    outline: none;
    color: black;
    font-size: 1.8vw;
    line-height: 2vw;
    width: 14vw;
  }
  .botonSource {
    max-width: 3vw;
    height: 3.3vw;
    text-decoration: none;
    color: white;
    font-size: 2.3vw;
  }
}
@media (min-width: 1200px) {
  .navbar > .container,
.navbar > .container-fluid,
.navbar > .container-lg,
.navbar > .container-md,
.navbar > .container-sm,
.navbar > .container-xl,
.navbar > .container-xxl {
    padding-right: 2rem;
  }
  .navbar-brand {
    margin-left: 0.6vw;
  }
  .navbar-brand img {
    margin: 0.7vw 0 0 1vw;
    height: 3vw;
    width: 3vw;
  }
  .nav-item {
    font-size: 1.2vw;
    margin: 0.5vw 2vw 0 0;
  }
  header {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr;
    margin-bottom: 12vw;
    margin-top: 5vw;
    background-image: url(../img/fotoportadainicio-large.webp);
    background-position: center;
    background-repeat: no-repeat;
    height: 50vw;
    width: 100vw;
    background-size: cover;
    color: wheat;
  }
  header h1 {
    margin-top: 3vw;
    font-size: 4vw;
  }
  .source {
    display: flex;
    justify-content: center;
    align-items: center;
    transform: translate(-50%, -50%);
    padding: 1.2vw;
    height: 1vw;
    border-radius: 10vw;
    border-style: solid black;
    margin: -52.5vw 0 -4vw 50vw;
    width: 18vw;
  }
  .sourceReceta {
    border: none;
    background: none;
    outline: none;
    color: black;
    font-size: 1.4vw;
    line-height: 2vw;
    width: 11vw;
  }
  .botonSource {
    max-width: 3vw;
    height: 2.8vw;
    text-decoration: none;
    color: white;
    font-size: 1.8vw;
  }
  .imagenSuscripcion {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr;
    background-image: url(../img/fondosuscripcion-large.webp);
    background-position: center;
    background-repeat: no-repeat;
    height: 29vw;
    width: auto;
    background-size: cover;
    color: wheat;
    margin-bottom: -7vw;
  }
  .textoSuscripcionUno h3 {
    margin-right: 42vw;
    font-size: 2.2vw;
    margin-top: 9vw;
  }
  .textoSuscripcionDos h4 {
    font-size: 1.5vw;
    margin-bottom: 18.5vw;
    margin-right: 52.5vw;
    margin-top: 1vw;
  }
  .formulario {
    margin-left: -53vw;
    margin-top: -16.5vw;
  }
  input {
    text-align: center;
    height: 2vw;
    width: 18vw;
  }
  .btn-sm {
    height: 2.6vw;
  }
  footer {
    padding: 3em 3em 0em 3em;
    background-color: wheat;
    margin-bottom: 0;
    margin-top: 7vw;
    height: 26vw;
  }
  footer a:hover {
    color: #FF7F50;
  }
  .textoRedesUno h3 {
    font-size: 2.2vw;
    margin: -0.5vw 0 0 2vw;
  }
  .textoRedesDos h3 {
    font-size: 1.6vw;
    margin: -2.5vw 0 0 2vw;
  }
  .lineaFooter {
    margin-top: 7vw;
  }
  .footerMenu {
    margin-top: 3vw;
    font-size: 1.2vw;
  }
  .textoRedesTres h4 {
    font-size: 1.5vw;
    margin-top: -2.2vw;
  }
  .textoContactos h5 {
    font-size: 1.5vw;
  }
  .redes {
    margin-top: 4vw;
  }
}
/* NOMBRE DE AREAS INICIO */
header {
  grid-area: header;
}

.inicioMain {
  grid-area: inicioMain;
}

.source {
  grid-area: source;
}

.imagenesComida {
  grid-area: imagenesComida;
}

.textoChefs {
  grid-area: textoChefs;
}

.imagenesChefs {
  grid-area: imagenesChefs;
}

.textoValoracion {
  grid-area: textoValoracion;
}

.imagenesValoracion {
  grid-area: imagenesValoracion;
}

.imagenSuscripcion {
  grid-area: imagenSuscripcion;
}

footer {
  grid-area: footer;
}

/* INICIO */
.contenedor {
  margin-bottom: 1.5em;
  display: grid;
  grid-template-areas: "navBrand" "header" "source" "inicioMain" "textoChefs" "imagenesChefs" "textoValoracion" "imagenesValoracion" "imagenSuscripcion" "footer";
}

.inicioMain {
  display: grid;
  flex-direction: column;
  justify-content: flex-start;
  width: auto;
  height: 168vw;
}

.carousel-inner .carousel-item > img {
  height: 65vw;
}

.container-fluid {
  width: 100vw;
}

.row {
  --bs-gutter-x: 0;
}

.verRecetas {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  margin: -12vw 0 -5vw 0;
  background-image: url(../img/fondomain-large.webp);
  background-position: center;
  background-repeat: no-repeat;
  max-height: 63vw;
  width: auto;
  background-size: cover;
  height: 100vw;
  width: auto;
}
.verRecetas h2 {
  font-size: 6vw;
  margin: 2vw 0 -21vw 0;
  font-weight: 500;
}
.verRecetas a {
  cursor: pointer;
  border: 0;
  font-weight: bold;
  background-color: wheat;
  color: black;
  border-radius: 10vw;
  max-height: 8vw;
  width: 30vw;
  font-size: 2.7vw;
  padding: 0.6vw;
  margin: -17vw 0 0 0;
}
.verRecetas p {
  font-size: 3vw;
  margin: 4vw 8vw 2vw 6vw;
  font-weight: 300;
}

.container,
.container-fluid,
.container-lg,
.container-md,
.container-sm,
.container-xl,
.container-xxl {
  width: 100%;
  padding-right: var(--bs-gutter-x, -0.25rem);
  padding-left: var(--bs-gutter-x, -0.25rem);
  margin-right: auto;
  margin-left: auto;
}

.slide {
  margin-top: 5vw;
}
.slide img {
  height: 70vw;
}

.primerParrafo {
  margin-bottom: 12vw;
  font-weight: 300;
}

.lineaCarruselChef {
  height: 5vw;
  width: 80%;
  margin-left: 10vw;
  margin-top: 6vw;
}

.textoChefs {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr;
  margin-top: -60vw;
  margin-bottom: 5vw;
  background-color: wheat;
}
.textoChefs h2 {
  font-size: 6vw;
  font-weight: 500;
  margin-top: 14vw;
}
.textoChefs p {
  font-size: 3vw;
  font-weight: 300;
  margin: 2.4vw 4vw -5vw 3vw;
  margin-bottom: 6vw;
}

.imagenesChefs {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  margin-top: -5vw;
  align-content: center;
  max-height: 512vw;
  width: 100vw;
  gap: 1vw;
  background-color: wheat;
}
.imagenesChefs img {
  border-radius: 2vw;
}

.chef img {
  width: 35vw;
  height: 35vw;
}

.parrafoChefs {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr;
  text-decoration: none;
  color: black;
  max-height: 20vw;
  text-align: center;
  background-color: #ffaf87;
  border-radius: 2vw;
  margin: 4vw;
  font-weight: 400;
  max-width: 40vw;
}
.parrafoChefs a:hover {
  color: wheat;
}

.parrafoChefs:hover {
  box-shadow: 0 3px 3px rgba(0, 0, 0, 0.4);
}

.lineaChefValoracion {
  height: 5vw;
  width: 80%;
  margin-left: 10vw;
  margin-top: 6vw;
}

.textoValoracion {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr;
  background-image: url(../img/fondomain-large.webp);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  padding-top: 14vw;
}
.textoValoracion h2 {
  font-size: 6vw;
  font-weight: 500;
}

.imagenesValoracion {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  width: 100vw;
  height: 80vw;
  background-image: url(../img/fondomain-large.webp);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

@media (min-width: 576px) {
  /* INICIO */
  .contenedor {
    margin: 0;
    grid-template-columns: 1fr 1fr;
    grid-template-areas: "header" "source source" "textoChefs textoChefs" "imagenesChefs imagenesChefs" "textoValoracion textoValoracion" "imagenesValoracion imagenesValoracion" "imagenSuscripcion imagenSuscripcion" "footer footer";
  }
  .inicioMain {
    height: 78vw;
    width: 100vw;
  }
  .carousel-inner .carousel-item > img {
    height: 61vw;
  }
  .verRecetas {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    margin: -12vw 0 -5vw 0;
    background-image: url(../img/fondomain-large.webp);
    background-position: center;
    background-repeat: no-repeat;
    max-height: 63vw;
    width: auto;
    background-size: cover;
    height: 100vw;
    width: auto;
  }
  .verRecetas h2 {
    font-size: 5vw;
    margin: -1vw 0 -21vw 0;
    font-weight: 500;
  }
  .verRecetas a {
    cursor: pointer;
    border: 0;
    font-weight: bold;
    color: black;
    border-radius: 10vw;
    max-height: 8vw;
    width: 30vw;
    font-size: 2.7vw;
    padding: 0.6vw;
    margin: -20vw 0 0 0;
  }
  .verRecetas p {
    font-size: 3vw;
    margin-top: 0vw;
    font-weight: 300;
  }
  .textoChefs {
    margin-top: 34vw;
  }
  .textoChefs h2 {
    font-size: 5vw;
    margin-top: 11vw;
  }
  .textoChefs p {
    margin-top: 2.4vw;
  }
  .imagenesChefs {
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    max-height: 244vw;
    width: 100vw;
  }
  .parrafoChefs {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 42vw;
    height: 5vw;
  }
  .textoValoracion h2 {
    font-size: 5vw;
  }
  .imagenesValoracion {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    width: 100vw;
    height: 83vw;
  }
}
@media (min-width: 768px) {
  .inicioMain {
    height: 26vw;
    margin-left: -20vw;
    width: 119vw;
  }
  .verRecetas {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    margin: -12vw 0 -5vw -14vw;
    background-image: url(../img/fondomain-large.webp);
    background-position: center;
    background-repeat: no-repeat;
    max-height: 30vw;
    background-size: cover;
    width: 55vw;
  }
  .verRecetas h2 {
    font-size: 3.5vw;
    margin: 2vw 0 -21vw 0;
    font-weight: 500;
  }
  .verRecetas a {
    cursor: pointer;
    border: 0;
    font-weight: bold;
    color: black;
    border-radius: 10vw;
    max-height: 5vw;
    width: 19vw;
    font-size: 1.7vw;
    padding: 0.6vw;
    margin: -4vw 0 0 0;
  }
  .verRecetas p {
    font-size: 1.8vw;
    margin: 18vw 2vw 2vw 2vw;
    font-weight: 300;
  }
  .textoChefs {
    margin-top: -8vw;
  }
  .textoChefs h2 {
    font-size: 3.5vw;
    margin-top: 8vw;
    padding-bottom: -5vw;
  }
  .textoChefs p {
    font-size: 2.1vw;
    margin-bottom: 11vw;
  }
  .imagenesChefs {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr;
    margin-top: -5.1vw;
    align-content: stretch;
    height: 58vw;
    width: 100vw;
    gap: 0.5vw;
    background-color: wheat;
  }
  .chef {
    width: 4vw;
    height: 37vw;
    margin: -7vw 0 3.6vw 6vw;
  }
  .chef img {
    width: 20vw;
    height: 20vw;
  }
  .textoValoracion h2 {
    font-size: 2.2vw;
  }
  .carousel-inner .carousel-item > img {
    height: 30vw;
  }
  .carousel-inner {
    margin: -13vw 1.4vw;
    width: 45.9vw;
  }
  .carousel-control-prev {
    margin-left: 5.5vw;
  }
  .carousel-control-next {
    margin-right: -5.5vw;
  }
  .container-fluid {
    width: 65%;
    margin-left: 34vw;
  }
  .slide {
    margin-top: 1vw;
  }
  .container,
.container-sm {
    max-width: 1500px;
  }
  .buscaRecetas {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: -15vw 0 4vw -49vw;
  }
  .buscaRecetas a {
    cursor: pointer;
    border: 0;
    font-weight: bold;
    background-color: #FF7F50;
    color: black;
    border-radius: 10vw;
    max-height: 5vw;
    width: 13vw;
    font-size: 1.3vw;
    padding: 0.6vw;
  }
  .parrafoChefs {
    height: 5vw;
    width: 13vw;
    margin: 2vw 0 -3.4vw 3.5vw;
  }
  .imagenesValoracion {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr;
    width: 100vw;
    height: 23vw;
  }
  .textoValoracion {
    padding-top: 6vw;
  }
  .textoValoracion h2 {
    font-size: 3.5vw;
  }
}
@media (min-width: 992px) {
  .inicioMain {
    height: 26vw;
    margin-left: -20vw;
    width: 119vw;
  }
  .verRecetas {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    margin: -12vw 0 -5vw -14vw;
    background-image: url(../img/fondomain-large.webp);
    background-position: center;
    background-repeat: no-repeat;
    max-height: 30vw;
    background-size: cover;
    width: 55vw;
  }
  .verRecetas h2 {
    font-size: 3vw;
    margin: 2vw 0 -21vw 0;
    font-weight: 500;
  }
  .verRecetas a {
    cursor: pointer;
    border: 0;
    font-weight: bold;
    color: black;
    border-radius: 10vw;
    max-height: 5vw;
    width: 19vw;
    font-size: 1.3vw;
    padding: 0.6vw;
    margin: -4vw 0 0 0;
  }
  .verRecetas p {
    font-size: 1.7vw;
    margin-top: 18vw;
    font-weight: 300;
  }
  .buscaRecetas {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: -15vw 0 4vw -46vw;
  }
  .buscaRecetas a {
    cursor: pointer;
    border: 0;
    font-weight: bold;
    background-color: #FF7F50;
    color: black;
    border-radius: 10vw;
    max-height: 5vw;
    width: 13vw;
    font-size: 1vw;
    padding: 0.6vw;
  }
  .container,
.container-sm {
    max-width: 2000px;
    margin: 0.4vw 0 0.4vw 0;
    font-size: 1.2vw;
  }
  .carousel-inner {
    margin: -13vw 2.3vw;
    width: 45vw;
  }
  .carousel-control-prev {
    margin-left: -5vw;
  }
  .carousel-control-next {
    margin-right: 3.5vw;
  }
  .textoChefs h2 {
    font-size: 3vw;
  }
  .textoChefs p {
    font-size: 1.7vw;
  }
  .parrafoChefs a {
    height: 6vw;
    min-width: 14vw;
    margin-top: 4vw;
    font-weight: 600;
    font-size: 1.4vw;
  }
  .imagenesValoracion {
    margin: 0 0 0 0, 1vw;
  }
}
@media (min-width: 1200px) {
  .inicioMain {
    height: 21vw;
  }
  .verRecetas {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    margin: -12vw 0 -5vw -14vw;
    background-image: url(../img/fondomain-large.webp);
    background-position: center;
    background-repeat: no-repeat;
    max-height: 25vw;
    background-size: cover;
    width: 61vw;
  }
  .verRecetas h2 {
    font-size: 2.3vw;
    margin: 2vw 0 -21vw 0;
    font-weight: 500;
  }
  .verRecetas a {
    cursor: pointer;
    border: 0;
    font-weight: bold;
    color: black;
    border-radius: 10vw;
    max-height: 5vw;
    width: 13vw;
    font-size: 1.1vw;
    padding: 0.6vw;
    margin: -4.5vw 0 0 0;
  }
  .verRecetas p {
    font-size: 1.3vw;
    margin-top: 18vw;
    font-weight: 300;
    padding: 0 4vw 0 4vw;
  }
  .carousel-inner {
    margin: -13vw 8.3vw;
    width: 39vw;
  }
  .carousel-inner .carousel-item > img {
    height: 25vw;
  }
  .carousel-control-prev {
    margin-left: 12vw;
  }
  .carousel-control-next {
    margin-right: -4vw;
  }
  .textoChefs {
    margin-top: -10.5vw;
    padding-bottom: 5vw;
  }
  .textoChefs h2 {
    font-size: 2.3vw;
  }
  .textoChefs p {
    font-size: 1.3vw;
  }
  .imagenesChefs {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr;
    margin-top: -5.1vw;
    margin-bottom: -5vw;
    align-content: stretch;
    height: 42vw;
    width: 100vw;
    gap: 0.5vw;
    background-color: wheat;
  }
  .chef {
    margin: -12vw 0 4vw 8.5vw;
    height: 25vw;
  }
  .chef img {
    width: 15vw;
    height: 15vw;
  }
  .parrafoChefs {
    height: 3.5vw;
    margin: 2vw 0 -3.4vw 1vw;
  }
  .textoValoracion {
    padding-top: 5vw;
  }
  .textoValoracion h2 {
    font-size: 2.3vw;
  }
  .imagenesValoracion {
    height: 20vw;
  }
}
/* NOMBRE AREAS RECETAS */
.destacadaMesTitulo {
  grid-area: destacadaMesTitulo;
}

.menuRecetas {
  grid-area: menuRecetas;
}

.sectionRecetas {
  grid-area: contenedorRecetas;
}

.imagenesRecetas {
  grid-area: imagenesRecetas;
}

.destacadaMesTitulo {
  grid-area: destacadaMesTitulo;
}

/* RECETAS */
.lineaImagenesRecetasUno {
  height: 5vw;
  width: 80%;
  margin-left: 10vw;
}

.lineaImagenesRecetasDos {
  height: 5vw;
  width: 80%;
  margin-left: 10vw;
  margin-top: -6vw;
  margin-bottom: 5vw;
}

.contenedorRecetas {
  background-color: white;
  padding-left: 15px;
  padding-right: 15px;
  margin-right: auto;
  margin-left: auto;
  display: grid;
  grid-template-areas: "imagenesRecetas" "sectionRecetas" "imagenSuscripcion" "footer";
}

.muchasRecetas {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr;
  align-items: center;
  margin-bottom: 10vw;
  background-image: url(../img/fondomain-large.webp);
  background-position: center;
  background-repeat: no-repeat;
  width: auto;
  background-size: cover;
  width: auto;
}

.muchasRecetasUno {
  padding-top: 5vw;
}

.muchasRecetasDos {
  padding-bottom: 5vw;
}

.tituloRecetas {
  margin-bottom: -5vw;
}

.imagenesRecetas {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr;
  align-items: center;
  margin: 3vw;
}

.lineaImagenesRecetas {
  height: 5vw;
  width: 80%;
  margin-left: 10vw;
  margin-top: -2vw;
  margin-bottom: 5vw;
}

.recetasMain {
  display: grid;
  flex-direction: column;
  justify-content: flex-start;
  align-items: start;
  width: auto;
  margin-top: 120vw;
}

.imagenRecetaUno img,
.imagenRecetaDos img,
.imagenRecetaTres img,
.imagenRecetaCuatro img,
.imagenRecetaCinco img,
.imagenRecetaSeis img {
  box-shadow: 0 2px 2px rgba(0, 0, 0, 0.2);
}

.enlaceRecetas {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr;
  font-weight: 600;
  text-decoration: none;
  max-height: 13vw;
  text-align: center;
  background-color: #ffaf87;
  border-radius: 3vw;
  margin: 4vw;
}

.lineaRecetasSuscripcion {
  height: 5vw;
  width: 80%;
  margin-left: 10vw;
  margin-top: -5.5vw;
  margin-bottom: 5vw;
}

@media (min-width: 576px) {
  .tituloRecetas {
    display: flex;
    flex-direction: row;
    justify-content: center;
  }
  .lineaImagenesRecetasUno {
    margin-left: 10vw;
    margin-top: -10vw;
  }
  .lineaImagenesRecetasDos {
    margin-left: 10vw;
    margin-top: -7vw;
  }
  .lineaRecetasSuscripcion {
    margin-top: -1vw;
    margin-bottom: 4vw;
  }
  .imagenesRecetas {
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    gap: 3vw;
    margin-top: -36vw;
  }
  .lineaImagenesRecetas {
    margin-bottom: 7vw;
  }
  .sectionRecetas {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr;
    align-items: center;
    margin-top: 10vw;
    margin-bottom: 5vw;
    gap: 6vw;
    -moz-columns: 2;
         columns: 2;
  }
  .ulRecetas {
    columns: 2;
    -webkit-columns: 2;
    -moz-columns: 2;
  }
  .enlaceRecetas {
    max-height: 4vw;
    font-size: 2.3vw;
  }
  .muchasRecetas {
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr;
    margin-top: -3vw;
    margin-bottom: 5vw;
    padding: 4vw 0 4vw 0;
  }
  .muchasRecetasUno {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-left: 7vw;
    padding-top: 0vw;
  }
  .muchasRecetasUno a:hover {
    color: #FF7F50;
  }
  .muchasRecetasDos {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    margin-right: 7vw;
    padding-bottom: 0vw;
  }
  .muchasRecetasDos a:hover {
    color: #FF7F50;
  }
}
@media (min-width: 768px) {
  /* RECETAS */
  .contenedorRecetas {
    padding-left: 25px;
    padding-right: 25px;
  }
  .tituloRecetas {
    margin-left: -1vw;
    margin-top: -1vw;
    margin-left: 1vw;
  }
  .lineaImagenesRecetasUno {
    height: 5vw;
    width: 80%;
    margin-top: 3vw;
  }
  .lineaImagenesRecetasDos {
    height: 5vw;
    width: 80%;
    margin-top: -6vw;
  }
  .recetasMain {
    width: 90vw;
    margin-left: 2.4vw;
  }
  .imagenesRecetas {
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    gap: 4vw;
    margin-top: -60vw;
    align-items: center;
  }
  .imagenesRecetas img {
    width: 27vw;
    height: 20vw;
  }
  .BorderBottom a:hover {
    border-bottom: 3px solid wheat;
  }
  .enlaceRecetas {
    height: 7vw;
    align-items: center;
    width: 19vw;
    font-size: 1.4vw;
  }
  .enlaceRecetas a:hover {
    color: wheat;
  }
  .enlaceRecetas:hover {
    box-shadow: 0 3px 3px rgba(0, 0, 0, 0.3);
  }
}
@media (min-width: 992px) {
  .tituloRecetas {
    margin-left: -1vw;
    margin-top: 0vw;
    margin-left: 0vw;
  }
  .imagenesRecetas {
    margin-top: -66vw;
    gap: 6.5vw;
  }
  .lineaImagenesRecetas {
    margin-top: -8vw;
  }
  .enlaceRecetas {
    height: 7vw;
    align-items: center;
    width: auto;
    font-size: 1.4vw;
  }
  .imagenRecetaCuatro img,
.imagenRecetaCinco img,
.imagenRecetaSeis img {
    margin-top: -10vw;
  }
}
@media (min-width: 1200px) {
  .imagenesRecetas {
    margin: -75vw 0 0 7.5vw;
    width: 89vw;
  }
  .imagenesRecetas img {
    width: 20vw;
    height: 13vw;
  }
  .enlaceRecetas {
    height: 4vw;
    align-items: center;
    width: 17vw;
    font-size: 1.1vw;
    margin-top: 1.8vw;
  }
  .recetasMain {
    margin-bottom: -25vw;
    margin-left: -2vw;
  }
  .lineaImagenesRecetas {
    margin-top: -29vw;
    margin-bottom: 6vw;
  }
  .lineaRecetasSuscripcion {
    margin-top: -2vw;
    margin-bottom: 3vw;
  }
}
/*NOMBREA AREAS DE TIPS DE COCINA*/
.contenedorTipsCocina {
  grid-area: contenedorTipsCocina;
}

.contenedorVideos {
  grid-area: contenedorVideos;
}

.videosTipsCocinaUno {
  grid-area: videosTipsCocinaUno;
}

.videosTipsCocinaDos {
  grid-area: videosTipsCocinaDos;
}

.videosTipsCocinaTres {
  grid-area: videosTipsCocinaTres;
}

.videosTipsCocinaCuatro {
  grid-area: videosTipsCocinaCuatro;
}

.tipsCocinaMain {
  grid-area: tipsCocinaMain;
}

video {
  width: 100%;
  height: 100%;
}

/*TIPS DE COCINA*/
.contenedorTipsCocina {
  background-color: white;
  padding-left: 20px;
  padding-right: 20px;
  margin-right: auto;
  margin-left: auto;
  margin-bottom: 1.5em;
  display: grid;
  grid-template-areas: "contenedorVideos" "tipsCocinaMain" "videosTipsCocina" "videosTipsCocina" "videosTipsCocina" "videosTipsCocina";
}

.contenedorVideos {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr;
  background-color: wheat;
  padding-top: 10vw;
  margin-top: -10.1vw;
}

.tipsCocinaMain {
  margin-top: 125vw;
}

.videosTipsCocina {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr;
  margin: 0 5vw 0 5vw;
}

.cabeceraVideos {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 1.5vw 3vw 5vw 3vw;
  padding: 4vw 4vw 0vw 4vw;
}
.cabeceraVideos h2 {
  margin-bottom: 5vw;
}
.cabeceraVideos p {
  font-size: 3.2vw;
  font-weight: 400;
}

.contenedorEstrellas {
  margin-bottom: 2vw;
}
.contenedorEstrellas p {
  margin-bottom: 0vw;
}

.lineaTipsCocinaVideosUno {
  height: 5vw;
  width: 80%;
  margin: -5vw 0 4vw 10vw;
}

.lineaTipsCocinaVideosDos {
  height: 5vw;
  width: 80%;
  margin: 6vw 0 4vw 10vw;
}

.lineaTipsCocinaVideosTres {
  height: 5vw;
  width: 80%;
  margin: 6vw 0 4vw 10vw;
}

.lineaTipsCocinaVideosCuatro {
  height: 5vw;
  width: 80%;
  margin: 5.6vw 0 4vw 10vw;
}

.lineaTipsCocinaVideosCinco {
  height: 5vw;
  width: 80%;
  margin: 6vw 0 6vw 10vw;
}

@media (min-width: 576px) {
  .tipsCocinaMain {
    margin-top: 84vw;
  }
  .cabeceraVideos {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 1.5vw 3vw 5vw 3vw;
    padding: 1vw 4vw 0vw 4vw;
  }
  .cabeceraVideos h2 {
    margin-bottom: 5vw;
  }
  .cabeceraVideos p {
    font-size: 2.5vw;
    font-weight: 400;
  }
}
@media (min-width: 768px) {
  .contenedorTipsCocina {
    background-color: white;
    padding-left: 30px;
    padding-right: 30px;
    margin-right: auto;
    margin-left: auto;
    margin-bottom: 1.5em;
    display: grid;
    grid-template-areas: "videosTipsCocina videosTipsCocina" "videosTipsCocina videosTipsCocina" "videosTipsCocina videosTipsCocina" "videosTipsCocina videosTipsCocina" "contenedorVideos contenedorVideos";
  }
  .tipsCocinaMain {
    margin-top: 59.5vw;
  }
  .contenedorVideos {
    padding-top: 6.5vw;
    margin-top: -6.1vw;
  }
  .videosTipsCocina {
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr;
    align-items: center;
    margin: 0 0vw 0 0vw;
  }
  .ratio > * {
    width: 90%;
  }
  .cabeceraVideos {
    height: 28vw;
    margin: 0.5vw 0 4vw 0;
  }
  .cabeceraVideos p {
    font-size: 1.7vw;
    margin-left: auto;
    margin-top: 3vw;
  }
  .cabeceraVideos h2 {
    font-size: 3vw;
    margin-top: -2vw;
    margin-bottom: -2vw;
  }
  .cabeceraVideos .fechaVideos {
    margin: 0 -1vw 3vw 0;
  }
  .lineaTipsCocinaVideosUno {
    height: 5vw;
    width: 90%;
    margin-left: 5vw;
    margin-top: 3vw;
    margin-bottom: 2vw;
  }
  .lineaTipsCocinaVideosDos {
    height: 5vw;
    width: 90%;
    margin-left: 5vw;
    margin-top: 2vw;
    margin-bottom: 2vw;
  }
  .lineaTipsCocinaVideosTres {
    height: 5vw;
    width: 90%;
    margin-left: 5vw;
    margin-top: 2vw;
    margin-bottom: 2.2vw;
  }
  .lineaTipsCocinaVideosCuatro {
    height: 5vw;
    width: 90%;
    margin-left: 5vw;
    margin-top: 2.5vw;
    margin-bottom: 2.4vw;
  }
  .lineaTipsCocinaVideosCinco {
    height: 5vw;
    width: 90%;
    margin-left: 5vw;
    margin-top: 2.3vw;
    margin-bottom: 4vw;
  }
  .fechaVideos {
    font-size: 1.5vw;
  }
  .contenedorEstrellas {
    margin-bottom: -1vw;
  }
  .valoracionEstrellas {
    margin-top: -3vw;
  }
}
@media (min-width: 992px) {
  .cabeceraVideos {
    height: 24vw;
    margin: 0.5vw 0 4vw 0;
  }
  .cabeceraVideos p {
    font-size: 1.6vw;
    margin-left: auto;
    margin-top: 3vw;
  }
  .cabeceraVideos h2 {
    font-size: 2.5vw;
    margin-top: -2vw;
    margin-bottom: -2vw;
  }
  .cabeceraVideos .fechaVideos {
    margin: 0 -1vw 3vw 0;
  }
  .tipsCocinaMain {
    margin-top: 52.9vw;
  }
  .lineaTipsCocinaVideosUno {
    margin: 3.3vw 0 2.3vw 5vw;
  }
  .lineaTipsCocinaVideosTres {
    margin-top: 2.5vw;
    margin-bottom: 2.5vw;
  }
  .lineaTipsCocinaVideosCuatro {
    margin-top: 2.6vw;
    margin-bottom: 2.6vw;
  }
  .lineaTipsCocinaVideosCinco {
    margin-top: 2.5vw;
    margin-bottom: 2.5vw;
  }
}
@media (min-width: 1200px) {
  .tipsCocinaMain {
    margin-top: 45.6vw;
  }
  .cabeceraVideos {
    height: 24vw;
    margin: 0.5vw 0 4vw 0;
  }
  .cabeceraVideos p {
    font-size: 1.1vw;
    margin-left: auto;
    margin-top: 3vw;
    padding: 0 6vw 0 6vw;
  }
  .cabeceraVideos h2 {
    font-size: 1.8vw;
    margin-top: -2vw;
    margin-bottom: -2vw;
  }
  .cabeceraVideos .fechaVideos {
    margin: 0 -1vw 3vw 0;
  }
  .ratio {
    width: 85%;
  }
  .videosTipsCocina {
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr;
    align-items: center;
    margin: -3vw 0vw -3vw 0vw;
  }
  .lineaTipsCocinaVideosDos {
    margin-top: 3vw;
    margin-bottom: 3vw;
  }
  .lineaTipsCocinaVideosTres {
    margin-top: 3vw;
    margin-bottom: 3vw;
  }
  .lineaTipsCocinaVideosCuatro {
    margin-top: 3vw;
    margin-bottom: 3vw;
  }
  .lineaTipsCocinaVideosCinco {
    margin-top: 3vw;
    margin-bottom: 3vw;
  }
}
.btn-dark-md {
  background-color: #ffaf87;
  color: black;
  margin: 4vw 0 4vw 0;
}

.contactoMain {
  margin-top: 125vw;
  background-image: url(../img/fondomain-large.webp);
  background-position: center;
  background-repeat: no-repeat;
  width: auto;
  background-size: cover;
  width: auto;
}

.lineaContactos {
  height: 5vw;
  width: 80%;
  margin-left: 10vw;
  margin-top: 1vw;
  margin-bottom: 6vw;
}

.form-control {
  border-radius: 3vw;
}

@media (min-width: 576px) {
  .contactoMain {
    margin-top: 84vw;
  }
  .tituloContacto {
    margin-left: -1vw;
  }
  .lineaContactos {
    width: 60%;
    margin-left: 20vw;
  }
}
@media (min-width: 768px) {
  .contactoMain {
    margin-top: 61vw;
  }
  .tituloContacto {
    margin: 0 0 4vw 0vw;
  }
  .lineaContactos {
    height: 5vw;
    width: 70%;
    margin-left: 15vw;
    margin-bottom: 6vw;
  }
}
@media (min-width: 992px) {
  .tituloContacto {
    margin: 0 0 4vw 0vw;
  }
  .contactoMain {
    margin-top: 54vw;
  }
  .lineaContactos {
    height: 5vw;
    width: 70%;
    margin: -1vw 0 4vw 15vw;
  }
}
/* NOMBRE AREAS SALUD Y NUTRICION */
.contenedorCards {
  grid-area: contenedorCards;
}

.card {
  grid-area: card;
}

.contenedorSaludNutricion {
  background-color: white;
  margin-bottom: 1.5em;
  justify-items: center;
  display: grid;
  grid-template-areas: "contenedorCards" "cardUno" "cardDos" "cardTres" "cardCuatro" "cardCinco" "cardSeis";
}

.contenedorCards {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr;
  justify-items: center;
}

.saludNutricionMain {
  margin-top: 127vw;
}

.contenedorCards .cardUno,
.cardDos,
.cardTres,
.cardCuatro,
.cardCinco,
.cardSeis {
  width: 68.75vw;
  height: 113.5vw;
  box-shadow: 0 2px 2px rgba(0, 0, 0, 0.2);
  overflow: hidden;
  margin: 4.1vw;
  text-align: center;
  transition: all 0.25s;
  border-radius: 3vw;
}

.contenedorCards .cardUno:hover,
.cardDos:hover,
.cardTres:hover,
.cardCuatro:hover,
.cardCinco:hover,
.cardSeis:hover {
  transform: translateY(-1.4vw);
  box-shadow: 0 2.5vw 3, 3vw rgba(0, 0, 0, 0.4);
}

.contenedorCards .cardUno picture img,
.cardDos picture img,
.cardTres picture img,
.cardCuatro picture img,
.cardCinco picture img,
.cardSeis picture img {
  width: 68vw;
  height: 45.8vw;
}

.contenedorCards .cardUno h2,
.cardDos h2,
.cardTres h2,
.cardCuatro h2,
.cardCinco h2,
.cardSeis h2 {
  font-weight: 600;
  margin-top: 2vw;
}

.contenedorCards .cardUno p,
.cardDos p,
.cardTres p,
.cardCuatro p,
.cardCinco p,
.cardSeis p {
  padding: 0 1rem;
  font-size: 3.5vw;
  font-weight: 300;
}

.contenedorCards .cardUno a,
.cardDos a,
.cardTres a,
.cardCuatro a,
.cardCinco a,
.cardSeis a {
  font-weight: 500;
  text-decoration: none;
}

.lineaSaludNutricionUno {
  height: 5vw;
  width: 80%;
  margin-left: 10vw;
  margin-top: -6vw;
  margin-bottom: 3vw;
}

.lineaSaludNutricionSiete {
  height: 5vw;
  width: 80%;
  margin-left: 10vw;
  margin-top: 3vw;
  margin-bottom: 7vw;
}

@media (min-width: 576px) {
  .contenedorSaludNutricion {
    background-color: white;
    margin-bottom: 1.5em;
    grid-template-areas: "contenedorCards contenedorCards" "cardUno cardUno" "cardDos cardDos" "cardTres cardTres" "cardCuatro cardCuatro" "cardCinco cardCinco" "cardSeis cardSeis";
  }
  .contenedorCards {
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr;
    justify-items: center;
  }
  .contenedorCards .cardUno,
.cardDos,
.cardTres,
.cardCuatro,
.cardCinco,
.cardSeis {
    width: 41.75vw;
    height: 71.5vw;
  }
  .contenedorCards .cardUno picture img,
.cardDos picture img,
.cardTres picture img,
.cardCuatro picture img,
.cardCinco picture img,
.cardSeis picture img {
    width: 100%;
    height: auto;
  }
  .lineaSaludNutricionUno {
    height: 5vw;
    width: 80%;
    margin-left: 10vw;
    margin-top: -47vw;
    margin-bottom: 2vw;
  }
  .lineaSaludNutricionSiete {
    height: 5vw;
    width: 80%;
    margin-left: 10vw;
    margin-top: 2.6vw;
    margin-bottom: 6vw;
  }
  .contenedorCards .cardUno h2,
.cardDos h2,
.cardTres h2,
.cardCuatro h2,
.cardCinco h2,
.cardSeis h2 {
    font-size: 3vw;
  }
  .contenedorCards .cardUno p,
.cardDos p,
.cardTres p,
.cardCuatro p,
.cardCinco p,
.cardSeis p {
    font-size: 2.2vw;
  }
}
@media (min-width: 768px) {
  .contenedorCards {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    align-items: start;
  }
  .contenedorCards .cardUno,
.cardDos,
.cardTres,
.cardCuatro,
.cardCinco,
.cardSeis {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    width: 24.75vw;
    height: 54.5vw;
    margin-bottom: 6vw;
    padding: -2vw;
  }
  .contenedorCards .cardUno a:hover,
.cardDos a:hover,
.cardTres a:hover,
.cardCuatro a:hover,
.cardCinco a:hover,
.cardSeis a:hover {
    color: orange;
  }
  .contenedorCards .cardUno h2,
.cardDos h2,
.cardTres h2,
.cardCuatro h2,
.cardCinco h2,
.cardSeis h2 {
    font-size: 2vw;
  }
  .contenedorCards .cardUno p,
.cardDos p,
.cardTres p,
.cardCuatro p,
.cardCinco p,
.cardSeis p {
    font-size: 1.6vw;
  }
  .cardCuatro,
.cardCinco,
.cardSeis {
    margin-top: -1vw;
  }
  .lineaSaludNutricionUno {
    height: 5vw;
    width: 80%;
    margin: -71vw 0 1vw 10vw;
  }
  .lineaSaludNutricionSiete {
    height: 5vw;
    width: 80%;
    margin: -6.4vw 0 4vw 10vw;
  }
}
@media (min-width: 992px) {
  .contenedorCards .cardUno h2,
.cardDos h2,
.cardTres h2,
.cardCuatro h2,
.cardCinco h2,
.cardSeis h2 {
    font-size: 1.7vw;
  }
  .contenedorCards .cardUno p,
.cardDos p,
.cardTres p,
.cardCuatro p,
.cardCinco p,
.cardSeis p {
    font-size: 1.3vw;
  }
  .contenedorCards .cardUno,
.cardDos,
.cardTres,
.cardCuatro,
.cardCinco,
.cardSeis {
    width: 25vw;
    height: 41.5vw;
  }
  .lineaSaludNutricionUno {
    height: 5vw;
    width: 80%;
    margin: -77.5vw 0 0vw 10vw;
  }
  .lineaSaludNutricionSiete {
    height: 5vw;
    width: 80%;
    margin: -5.4vw 0 3.7vw 10vw;
  }
}
@media (min-width: 1200px) {
  .lineaSaludNutricionUno {
    height: 5vw;
    width: 80%;
    margin: -85.5vw 0 0vw 10vw;
  }
  .lineaSaludNutricionSiete {
    height: 5vw;
    width: 80%;
    margin: -7.4vw 0 3.7vw 10vw;
  }
  .saludNutricionMain {
    margin-top: 127vw;
  }
  .contenedorCards .cardUno,
.cardDos,
.cardTres,
.cardCuatro,
.cardCinco,
.cardSeis {
    width: 21vw;
    height: 35.5vw;
  }
  .contenedorCards .cardUno h2,
.cardDos h2,
.cardTres h2,
.cardCuatro h2,
.cardCinco h2,
.cardSeis h2 {
    font-size: 1.4vw;
  }
  .contenedorCards .cardUno p,
.cardDos p,
.cardTres p,
.cardCuatro p,
.cardCinco p,
.cardSeis p {
    font-size: 1.1vw;
  }
}/*# sourceMappingURL=style.css.map */